{% extends 'base-admin.html' %}

{% from "macros/formFields.html" import render_field, render_file_field, render_hidden_field %}



{% block content %}
<form novalidate method="POST" class="form-configuration">
    <div class="row">

        <div class="col-md-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Configurações do Site</h4>
                    <div class="forms-sample">
                        {{ form.csrf_token }}
                        {{ render_field(form.name, 'required') }}
                        {{ render_field(form.description) }}
                        {{ render_field(form.phone) }}
                        {{ render_field(form.email, 'email') }}
                        {{ render_field(form.address) }}
                        {{ render_field(form.schedules) }}
                        {{render_hidden_field(form.old_images)}}
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Imagens do banner</h4>
                    <p><small>*Tamanho requerido: (2000x500)</small></p>
                    <div class="forms-sample">
                        {{ render_hidden_field(form.new_images) }}
                        {{ render_file_field(form.image, 'multiple') }}
                        <div class="errorContainer"></div>
                    </div>
                    <ul class="ul-fig-banner">
                        {% if images != None %}
                            {% for image in images %}
                                <li>
                                    <figure class="fig-banner">
                                        <i class="mdi mdi-close-circle closePreviewImageMulti"
                                            data-image-id="{{ image.id }}"></i>
                                        <img src="{{request.url_root}}api/media/{{ image.id}}" alt="Banner" />
                                    </figure>
                                </li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <div class="card">
                <div class="card-body">
                    <button type="submit" class="btn btn-primary mr-2">Enviar</button>
                    <button class="btn btn-light">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock content%}


{% block footer_script %}
<script>
    var validator = new VanillaValidator({});
  </script>
{% endblock footer_script %}