{% extends 'base-admin.html' %}

{% block title%}
Configurações
{% endblock title%}

{% block content %}
<div class="row">

    <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Configurações do Site</h4>
                <form class="forms-sample">
                    <div class="form-group">
                        <label>Título do Site</label>
                        <input type="text" class="form-control" placeholder="Título do Site">
                    </div>
                    <div class="form-group">
                        <label>Descrição do Site</label>
                        <input type="text" class="form-control" placeholder="Descrição do Site">
                    </div>
                    <div class="form-group">
                        <label>Telefone</label>
                        <input type="text" class="form-control" placeholder="Telefone">
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input type="email" class="form-control" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <label>Endereço</label>
                        <input type="text" class="form-control" placeholder="Endereço">
                    </div>
                    <div class="form-group">
                        <label>Horários</label>
                        <input type="password" class="form-control" placeholder="Horários">
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Enviar</button>
                    <button class="btn btn-light">Cancelar</button>
                </form>
            </div>
        </div>
    </div>

    <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Imagens do banner</h4>
                <form class="forms-sample">
                    <div class="form-group">
                        <label>Adicionar Imagem</label>
                        <input type="file" name="img[]" class="file-upload-default">
                        <div class="input-group">
                            <input type="text" class="form-control file-upload-info" placeholder="Upload Image">
                            <span class="input-group-append">
                                <button class="file-upload-browse btn btn-primary" type="button">Upload</button>
                            </span>
                        </div>
                    </div>
                </form>
                <ul class="ul-fig-banner">
                    <li>
                        <figure class="fig-banner">
                            <i class="mdi mdi-close-circle"></i>
                            <img src="{{ url_for('static', filename='public/img/banner-1.jpg') }}" />
                        </figure>
                    </li>
                    <li>
                        <figure class="fig-banner">
                            <i class="mdi mdi-close-circle"></i>
                            <img src="{{ url_for('static', filename='public/img/banner-1.jpg') }}" />
                        </figure>
                    </li>
                    <li>
                        <figure class="fig-banner">
                            <i class="mdi mdi-close-circle"></i>
                            <img src="{{ url_for('static', filename='public/img/banner-1.jpg') }}" />
                        </figure>
                    </li>
                    <li>
                        <figure class="fig-banner">
                            <i class="mdi mdi-close-circle"></i>
                            <img src="{{ url_for('static', filename='public/img/banner-1.jpg') }}" />
                        </figure>
                    </li>
                    <li>
                        <figure class="fig-banner">
                            <i class="mdi mdi-close-circle"></i>
                            <img src="{{ url_for('static', filename='public/img/banner-1.jpg') }}" />
                        </figure>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>
{% endblock content%}