{% extends 'base-admin.html' %}

{% from "macros/formFields.html" import render_field, render_file_field, render_hidden_field %}

{% block title %}Configurações do site{% endblock %}

{% block content %}

<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <ul class="ul-breadcrumb">
            <li>
                <a href="{{ url_for('dashboard.dash') }}" title="Dashboard">Dashboard</a>
            </li>
            <li>
                <b>Configurações do Site</b>
            </li>
        </ul>
    </div>
</div>

<form novalidate method="POST" class="form-configuration">
    <div class="row">

        <div class="col-md-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Configurações do Site</h4>
                    <div class="forms-sample">
                        {{ form.csrf_token }}
                        {{ render_field(form.name, 'required') }}
                        {{ render_field(form.description, 'required') }}
                        {{ render_field(form.phone, 'mask-phone phone required') }}
                        {{ render_field(form.city, 'required') }}
                        {{ render_field(form.email, 'email required') }}
                        {{ render_field(form.address, 'required') }}
                        {{ render_field(form.schedules, 'required') }}
                        {{ render_field(form.map, 'required', '510') }}
                        {{render_hidden_field(form.old_images)}}
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Imagens do banner</h4>
                    <p><small>*Tamanho sugerido: (2000x500)</small></p>
                    <div class="forms-sample">
                        {{ render_hidden_field(form.new_images) }}
                        {{ render_file_field(form.image, 'multiple') }}

                        <div>
                            <div class="cropp-box-2">
                                <div class="cropp-result"></div>
                            </div>
                            <div class="cropp-box-2 cropp-img-result cropp-hide">
                                <img class="cropp-cropped" src="&nbsp;" alt="Imagem cropada">
                            </div>
                            <div class="cropp-box">
                                <button type="button" class="btn btn-secondary cropp-cropp cropp-hide">
                                    Cortar Imagem
                                </button>
                                <button type="button" class="btn btn-success cropp-save cropp-hide">
                                    Enviar Imagem
                                </button>
                            </div>
                        </div>

                        <div class="errorContainer"></div>
                    </div>
                    <div class="upload-loading">
                        <img src="{{ url_for('static', filename='admin/images/loading.gif') }}" alt="loading...">
                    </div>
                    <ul class="ul-fig-banner">
                        {% if images != None %}
                        {% for image in images %}
                        <li>
                            <figure class="fig-banner">
                                <i class="mdi mdi-close-circle closePreviewImageMulti"
                                    data-image-id="{{ image.id }}"></i>
                                <img src="{{request.url_root}}api/media/{{ image.id}}" alt="Imagem do Banner" />
                            </figure>
                        </li>
                        {% endfor %}
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <div class="card">
                <div class="card-body">
                    <button type="submit" class="btn btn-primary mr-2">Salvar</button>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock content%}

{% block footer_script %}
<script>
    var validator = new VanillaValidator({
        messages: {
            required: 'Campo obrigatório',
            email: 'E-mail inválido',
            phone: 'Número de telefone inválido'
        }
    });
</script>
{% endblock footer_script %}