{% extends 'base-admin.html' %}

{% block title%}
Configurações
{% endblock title%}

{% block content %}
<div class="row">

    <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <a href="{{ url_for('configuracoes.editar') }}" class="link-edit">
                    <i class="mdi mdi-border-color edit"></i>
                </a>
                <h4 class="card-title">Dados da Universidadade</h4>
                <div class="row">
                    <div class="col-md-6">
                        <address>
                            <p class="font-weight-bold">Universidade do Planalto Catarinense</p>
                            <p>Campus Lages</p><br>
                            <p>Av. Castelo branco, 170 – Bairro Universitário</p>
                            <p>Cep 88 509-900</p>
                            <p>Fone (49) 3251 1022 - Fax (49) 3251 1051</p>
                            <p>Email: uniplac@uniplac.com.br</p>
                        </address>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <a href="{{ url_for('configuracoes.editar') }}" class="link-edit">
                    <i class="mdi mdi-border-color edit"></i>
                </a>
                <h4 class="card-title">Imagens do banner</h4>
                <ul class="ul-fig-banner">
                    <li>
                        <figure class="fig-banner">
                            <img src="{{ url_for('static', filename='public/img/banner-1.jpg') }}" />
                        </figure>
                    </li>
                    <li>
                        <figure class="fig-banner">
                            <img src="{{ url_for('static', filename='public/img/banner-1.jpg') }}" />
                        </figure>
                    </li>
                    <li>
                        <figure class="fig-banner">
                            <img src="{{ url_for('static', filename='public/img/banner-1.jpg') }}" />
                        </figure>
                    </li>
                    <li>
                        <figure class="fig-banner">
                            <img src="{{ url_for('static', filename='public/img/banner-1.jpg') }}" />
                        </figure>
                    </li>
                    <li>
                        <figure class="fig-banner">
                            <img src="{{ url_for('static', filename='public/img/banner-1.jpg') }}" />
                        </figure>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>
{% endblock content%}