.ql-audio img{
    vertical-align: top;
}
.ql-editor{
    height: 90vh;
}
.ql-editor img{
    max-width: 50%;
    max-height: 150px;
}

.RichEditor{
    height: 100vh;
    position: relative;
    background: #ffffff;
}
.RichEditor.is-fullscreen .ql-editor{
    height: 100vh;
}
#ImageEditor{
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    background: #f4f4f4;
    height: 0;
    width: 100%;

    -webkit-transition: height .5;
    transition: height .5s;
}
#ImageEditor.opened{
    height: 100vh;
}
