.ql-my-image img,
.ql-my-video img,
.ql-my-audio img,
.ql-fullscreen img{
    vertical-align: top;
    float: left;
    max-width: 18px;
    max-height: 18px;
}
.ql-editor{
    height: 90vh;
}
.ql-editor img{
    max-width: 50%;
    max-height: 150px;
}

.RichEditor{
    height: 100vh;
    position: relative;
    background: #ffffff;
}
.RichEditor.is-fullscreen .ql-editor{
    height: 100vh;
}
.configuration-panel{
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    background: #f4f4f4;
    height: 0;
    width: 100%;

    -webkit-transition: height .5;
    transition: height .5s;
}
.configuration-panel.opened{
    height: 100vh;
}
