.navbar-nav button{
    background: transparent !important;
    border: none !important;
    padding: 0 0 0 0;
    box-shadow: none !important;
}

.Admin .Navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .navbar-dropdown {
    position: absolute !important;
    font-size: 0.9rem !important;
    margin-top: 0 !important;
    right: 0 !important;
    left: auto !important;
    top: 45px !important;
}

@media (max-width: 991px) {
    .Admin .Navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .navbar-dropdown {
        left: 20px !important;
        right: 20px !important;
        top: 60px !important;
        width: calc(100% - 40px) !important;
    }
}

.Admin .Navbar .navbar-toggler{
    outline: none !important;
}
.Admin  .Navbar .navbar-toggler span{
    height: auto;
}