table tr td:last-child{
    width: 180px;
    text-align: right;
}
table tr th:last-child{
    text-align: right;
}
button btn-group:last-child{
    width: 80px;
}
table .mdi{
    display: inline-block;
    font-size: 20px;
    margin: 0 10px;
}
table .mdi.edit{
    color: green;
}
table .mdi.delete{
    color: red;
}

table a,
table i{
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
}
table a:hover{
    text-decoration: none;
}
table thead a{
    color: #212529;
    text-decoration: underline;
    display: inline-block;
    padding-right: 20px;
    min-height: 20px;
}
table thead a.active{
    color: #4d83ff;
    text-decoration: underline;
    background: url(../images/down-arrow.svg) no-repeat center right;
    background-size: 10px 10px;
}
table thead a.active.asc{
    background: url(../images/up-arrow.svg) no-repeat center right;
    background-size: 10px 10px;
}

.table-pagination{
    margin-top: 40px;
}

.card-body{
    position: relative;
}
.card-body .link-edit{
    display: inline-block;
    position: absolute;
    right: 30px;
    top: 30px;
}
.card-body .mdi.edit{
    font-size: 24px;
}

.form-control,
.dataTables_wrapper select,
select.form-control,
.dataTables_wrapper select{
    border: solid 1px #d3d3d3;
}

.ul-fig-banner{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}
.ul-fig-banner li{
    width: 45%;
    list-style: none;
    margin: 10px;
    flex-basis: 45%
}
.ul-fig-banner img{
    max-width: 100%;
}

.fig-banner{
    position: relative;
}
.fig-banner i{
    position: absolute;
    font-size: 24px;
    cursor: pointer;
    color: red;
    top: -21px;
    right: -12px;
}


select.form-control, .dataTables_wrapper select{
    color: #495057;
}

.image-container .invalid-feedback,
.hidden-group .invalid-feedback,
.errorContainer .invalid-feedback{
    display: block;
    position: relative;
    top: -20px;
}
.previewImage {
    background-color: #e9ecef;
    padding: 6px;
    border: 1px solid #ced4da;
    border-radius: 2px;
    margin-top: 10px;
    position: relative;
}

.previewImage img {
    max-width: 100px;
    max-height: 100px;
    display: block;
    margin: 0 auto;
}

.previewImage .mdi {
    position: absolute;
    font-size: 24px;
    cursor: pointer;
    color: red;
    top: -12px;
    right: -12px;
}

.fr-box.fr-basic,
.fr-toolbar.fr-top,
.second-toolbar{
    border-radius: 0 !important;
}

#videoByURL-1,
#videoUpload-1,
#fr-video-by-url-layer-1,
#imageReplace-1{
    display: none;
}
#fr-video-embed-layer-1{
    display: block;
}

.fr-box.fr-basic .fr-element{
    max-height: 75vh;
}

.rich-text-editor-container{
    position: relative;
}
.rich-text-editor-container #contentImageSender{
    height: 0;
    width: 0;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: -50000000px;
    left: -50000000px;
}

.form-group .invalid-feedback{
    display: block;
}

.brand-logo{
    display: block;
}

.ul-breadcrumb a, .ul-breadcrumb{
    font-size: 14px;
    font-weight: 300;
    color: #797979;
    font-family: "Roboto",sans-serif;
    margin-right: 18px;
    position: relative;
}
.ul-breadcrumb b{
    font-weight: bold;
}
.ul-breadcrumb li{
    display: inline-block;
}
.ul-breadcrumb a::before{
    content: "/";
    font-size: 14px;
    position: absolute;
    right: -14px;
    top: 50%;
    transform: translateY(-50%);
}




.cropp-box {
	padding: 0.5em;
	width: 100%;
	margin:0.5em;
}

.cropp-box-2 {
	padding: 0.5em;
	width: 100%;
}

.cropp-options label,
.cropp-options input{
	width:4em;
	padding:0.5em 1em;
}

.cropp-hide {
	display: none;
}

.cropp-box-2 img {
	max-width: 100%;
}


.no-content-found{
    padding: 50px 0;
    font-size: 20px;
}

.one-icon{
    float: left;
    margin-left: 13%;
}

.filtro{
    padding-left: 0;
}

.table .small .mdi{
    font-size: 12px;
}

.table-label{
    display: none;
}
@media (max-width: 650px) {
    .table-label{
        display: inline-block;
    }
    .table,
    .table tbody,
    .table tfoot,
    .table tr,
    .table th,
    .table td{
        display: block !important;
    }
    .table thead{
        display: none;
    }
    .table td{
        padding-top: 10px;
        padding-bottom: 10px;
        border: none !important;
    }
    .table tr{
        margin-bottom: 10px;
    }

    .btn-group, .btn-group-vertical{
        display: block;
    }
    .btn-group .btn{
        margin-bottom: 10px;
    }
    .table .form-check{
        display: inline-block;
    }
}

@media (max-width: 768px) {
    .formm-search{
        margin-bottom: 35px;
    }

    .formm-search .row{
        display: block;
    }
}

@media (max-width: 992px) {
    .ul-fig-banner li {
        width: 95%;
        flex-basis: 95%;
    }
}

.formm-search .form-group{
    position: relative;
}
.formm-search .form-group sup{
    display: inline-block;
    position: absolute;
    top: 1px;
    right: -7px;
}
.formm-search .btn{
    line-height: 17px;
}

.dash-links li{
    display: inline-block;
    list-style: none;
}
.dash-links li::before {
    content: "|";
    padding-left: 10px;
    padding-right: 10px;
}
.dash-links li:first-child::before{
    display: none;
}

.table .badge{
    padding: 3px;
}

<<<<<<< HEAD
.badge.news{
    color: #fff;
    background-color: #009eef;
}

.badge.ad{
    color: #fff;
    background-color: #851878;
}

.badge.notice{
    color: #fff;
    background-color: #990000;
=======
.table thead th i.mdi-help-circle{
    margin: 0;
}

.table sup.small{
    display: inline-block;
}

.table sup.small i{
    display: block;
    width: 12px;
    height: 12px;
>>>>>>> master
}