{% extends 'base.html' %}

{% from "macros/formFields.html" import render_field, render_file_field, render_hidden_field %}

{% block content %}

<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="container">
            <div class="banner_content d-md-flex justify-content-between align-items-center">
                <div class="mb-3 mb-md-0">
                    <h2>Contato</h2>
                </div>
                <div class="page_link">
                    <a href="{{ url_for('site.index') }}">Home</a>
                    <strong>Contato</strong>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section_gap" id="formulario">
    <div class="container">
        <div class="d-none d-sm-block mb-5 pb-4 Contact">
            {{ configuration.map|safe }}
        </div>
        <div class="row">
            <div class="col-12">
                <h2 class="contact-title">Envie uma mensagem</h2>
            </div>
            <div class="col-lg-8 mb-4 mb-lg-0">
                {% from "macros/messageFlash.html" import render_message %}
                {{ render_message() }}
                <form class="form-contact contact_form" action="#formulario" method="post"
                    id="contactForm" novalidate="novalidate">
                    {{ form.csrf_token }}
                    <div class="row">
                        <div class="col-12">
                            {{ render_field(form.assunto) }}
                        </div>
                        <div class="col-sm-6">
                            {{ render_field(form.name) }}
                        </div>
                        <div class="col-sm-6">
                            {{ render_field(form.email) }}
                        </div>
                        <div class="col-12">
                            {{ render_field(form.text) }}
                        </div>
                    </div>
                    <div class="form-group mt-lg-3">
                        <button type="submit" class="main_btn">Enviar mensagem</button>
                    </div>
                </form>
            </div>
            <div class="col-lg-4">
                <div class="media contact-info">
                    <span class="contact-info__icon"><i class="ti-home"></i></span>
                    <div class="media-body">
                        <h3>{{ configuration.city }}</h3>
                        <p>{{ configuration.address }}</p>
                    </div>
                </div>
                <div class="media contact-info">
                    <span class="contact-info__icon"><i class="ti-tablet"></i></span>
                    <div class="media-body">
                        <h3><a href="tel:(49) 3251 1022"></a>{{ configuration.phone }}</a></h3>
                        <p>{{ configuration.schedules }}</p>
                    </div>
                </div>
                <div class="media contact-info">
                    <span class="contact-info__icon"><i class="ti-email"></i></span>
                    <div class="media-body">
                        <h3><a href="mailto:uniplac@uniplaclages.br">{{ configuration.email }}</a></h3>
                        <p>Envie-nos a qualquer momento!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}