{% extends 'base.html' %}

{% block title %}Título do post aqui{% endblock %}

{% block content %}

<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="container">
            <div class="banner_content d-md-flex justify-content-between align-items-center">
                <div class="mb-3 mb-md-0">
                   <h2> {{ titulo }} </h2>
                </div>
                <div class="page_link">
                    <a href="{{ url_for('site.index') }}">Home</a>
                    {# Diferenciando pelo tipo de post #}
                    {% if(titulo == 'Notícias'): %}
                    <a href="{{ url_for('site.noticias') }}">{{ titulo }}</a>
                    {% elif(titulo == 'Anuncios'): %}
                    <a href="{{ url_for('site.anuncios') }}">{{ titulo }}</a>
                    {% elif(titulo == 'Avisos'): %}
                    <a href="{{ url_for('site.avisos') }}">{{ titulo }}</a>
                    {% endif %}
                    <strong>{{ post.title }}</strong>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="blog_area single-post-area section_gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 posts-list">
                <div class="single-post">
                    {% if post.image_id != None%}
                    <div class="feature-img">
                        <img class="img-fluid" src="{{request.url_root}}api/media/{{post.image_id}}" alt="">
                    </div>
                    {% endif %}
                    <div class="blog_details">
                        <h2>{{ post.title }}</h2>
                        <ul class="blog-info-link mt-3 mb-4">
                            <li>
                                <a href="{{ url_for('site.filtro', author=user.id) }}" title="Autor {{ user.first_name }} {{ user.last_name }}">
                                    <i class="ti-user"></i> Por {{ user.first_name }} {{ user.last_name }}
                                </a>
                            </li>
                            <li>
                                <a href="{{ url_for('site.filtro', category=category.id) }}" title="Categoria {{ category.name }}">
                                    {{ category.name }}
                                </a>
                            </li>
                        </ul>
                        <p class="excert">
                            {{ post.description }}
                        </p>
                        <p>
                            {{ post.content|safe }}
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                {% include 'includes/public/sidebar.html' %}
            </div>

        </div>
    </div>
</section>

{% include 'includes/public/form-filter.html' %}

{% endblock %}