{% extends 'base.html' %}

{% block title %}{{ titulo }}{% endblock %}

{% block content %}

<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="container">
            <div class="banner_content d-md-flex justify-content-between align-items-center">
                <div class="mb-3 mb-md-0">
                    <h2>{{ titulo }}</h2>
                </div>
                <div class="page_link">
                    <a href="{{ url_for('site.index') }}">Home</a>
                    <strong>{{ titulo }}</strong>
                </div>
            </div>
        </div>
    </div>
</section>

{% include 'includes/public/form-filter.html' %}

<section class="blog_area section_gap">
    <div class="container">
        <div class="row">

            <div class="col-lg-8">
                <div class="blog_left_sidebar">
                    <article class="blog_item">
                        <div class="blog_item_img">
                            <img class="card-img rounded-0" src="{{ url_for('static', filename='public/img/blog/main-blog/m-blog-1.jpg') }}"
                                alt="">
                        </div>
                        <div class="blog_details">
                            <a class="d-inline-block" href="{{ url_for('site.noticias') }}">
                                <h2>Google inks pact for new 35-storey office</h2>
                            </a>
                            <p>That dominion stars lights dominion divide years for fourth have don't stars is
                                that
                                he earth it
                                first without heaven in place seed it second morning saying.</p>
                                {# Diferenciando pelo tipo de post #}
                                    {% if(titulo == 'Notícias'): %}
                                    <a href="{{ url_for('site.noticias_detalhes') }}" class="blog_btn">
                                    {% elif(titulo == 'Anuncios'): %}
                                    <a href="{{ url_for('site.anuncios_detalhes') }}" class="blog_btn">
                                            {% elif(titulo == 'Avisos'): %}
                                    <a href="{{ url_for('site.avisos_detalhes') }}" class="blog_btn">
                                            {% endif %}

                                Ver Mais
                                <span class="ml-2 ti-arrow-right"></span>
                            </a>
                        </div>
                    </article>

                    <article class="blog_item">
                        <div class="blog_item_img">
                            <img class="card-img rounded-0" src="{{ url_for('static', filename='public/img/blog/main-blog/m-blog-2.jpg') }}" alt="">
                        </div>
                        <div class="blog_details">
                            <a class="d-inline-block" href="{{ url_for('site.noticias') }}">
                                <h2>Google inks pact for new 35-storey office</h2>
                            </a>
                            <p>That dominion stars lights dominion divide years for fourth have don't stars is
                                that
                                he earth it
                                first without heaven in place seed it second morning saying.</p>
                                {# Diferenciando pelo tipo de post #}
                                {% if(titulo == 'Notícias'): %}
                                <a href="{{ url_for('site.noticias_detalhes') }}" class="blog_btn">
                                {% elif(titulo == 'Anuncios'): %}
                                <a href="{{ url_for('site.anuncios_detalhes') }}" class="blog_btn">
                                        {% elif(titulo == 'Avisos'): %}
                                <a href="{{ url_for('site.avisos_detalhes') }}" class="blog_btn">
                                        {% endif %}
                                Ver Mais
                                <span class="ml-2 ti-arrow-right"></span>
                            </a>
                        </div>
                    </article>

                    <article class="blog_item">
                        <div class="blog_item_img">
                            <img class="card-img rounded-0" src="{{ url_for('static', filename='public/img/blog/main-blog/m-blog-3.jpg') }}"
                                alt="">
                        </div>
                        <div class="blog_details">
                            <a class="d-inline-block" href="{{ url_for('site.noticias') }}">
                                <h2>Google inks pact for new 35-storey office</h2>
                            </a>
                            <p>That dominion stars lights dominion divide years for fourth have don't stars is
                                that
                                he earth it
                                first without heaven in place seed it second morning saying.</p>
                                {# Diferenciando pelo tipo de post #}
                                {% if(titulo == 'Notícias'): %}
                                <a href="{{ url_for('site.noticias_detalhes') }}" class="blog_btn">
                                {% elif(titulo == 'Anuncios'): %}
                                <a href="{{ url_for('site.anuncios_detalhes') }}" class="blog_btn">
                                        {% elif(titulo == 'Avisos'): %}
                                <a href="{{ url_for('site.avisos_detalhes') }}" class="blog_btn">
                                        {% endif %}">
                                Ver Mais
                                <span class="ml-2 ti-arrow-right"></span>
                            </a>
                        </div>
                    </article>

                    <article class="blog_item">
                        <div class="blog_item_img">
                            <img class="card-img rounded-0" src="{{ url_for('static', filename='public/img/blog/main-blog/m-blog-4.jpg') }}"
                                alt="">
                        </div>
                        <div class="blog_details">
                            <a class="d-inline-block" href="{{ url_for('site.noticias') }}">
                                <h2>Google inks pact for new 35-storey office</h2>
                            </a>
                            <p>That dominion stars lights dominion divide years for fourth have don't stars is
                                that
                                he earth it
                                first without heaven in place seed it second morning saying.</p>
                                {# Diferenciando pelo tipo de post #}
                                {% if(titulo == 'Notícias'): %}
                                <a href="{{ url_for('site.noticias_detalhes') }}" class="blog_btn">
                                {% elif(titulo == 'Anuncios'): %}
                                <a href="{{ url_for('site.anuncios_detalhes') }}" class="blog_btn">
                                        {% elif(titulo == 'Avisos'): %}
                                <a href="{{ url_for('site.avisos_detalhes') }}" class="blog_btn">
                                        {% endif %}
                                Ver Mais
                                <span class="ml-2 ti-arrow-right"></span>
                            </a>
                        </div>
                    </article>

                    <article class="blog_item">
                        <div class="blog_details">
                            <a class="d-inline-block" href="{{ url_for('site.noticias') }}">
                                <h2>Google inks pact for new 35-storey office</h2>
                            </a>
                            <p>That dominion stars lights dominion divide years for fourth have don't stars is
                                that
                                he earth it
                                first without heaven in place seed it second morning saying.</p>
                                {# Diferenciando pelo tipo de post #}
                                {% if(titulo == 'Notícias'): %}
                                <a href="{{ url_for('site.noticias_detalhes') }}" class="blog_btn">
                                {% elif(titulo == 'Anuncios'): %}
                                <a href="{{ url_for('site.anuncios_detalhes') }}" class="blog_btn">
                                        {% elif(titulo == 'Avisos'): %}
                                <a href="{{ url_for('site.avisos_detalhes') }}" class="blog_btn">
                                        {% endif %}
                                Ver Mais
                                <span class="ml-2 ti-arrow-right"></span>
                            </a>
                        </div>
                    </article>

                    <article class="blog_item">
                        <div class="blog_item_img">
                            <img class="card-img rounded-0" src="{{ url_for('static', filename='public/img/blog/main-blog/m-blog-5.jpg') }}"
                                alt="">
                        </div>
                        <div class="blog_details">
                            <a class="d-inline-block" href="{{ url_for('site.noticias') }}">
                                <h2>Google inks pact for new 35-storey office</h2>
                            </a>
                            <p>That dominion stars lights dominion divide years for fourth have don't stars is
                                that
                                he earth it
                                first without heaven in place seed it second morning saying.</p>
                                {# Diferenciando pelo tipo de post #}
                                {% if(titulo == 'Notícias'): %}
                                <a href="{{ url_for('site.noticias_detalhes') }}" class="blog_btn">
                                {% elif(titulo == 'Anuncios'): %}
                                <a href="{{ url_for('site.anuncios_detalhes') }}" class="blog_btn">
                                        {% elif(titulo == 'Avisos'): %}
                                <a href="{{ url_for('site.avisos_detalhes') }}" class="blog_btn">
                                        {% endif %}
                                Ver Mais
                                <span class="ml-2 ti-arrow-right"></span>
                            </a>
                        </div>
                    </article>

                    <nav class="blog-pagination justify-content-center d-flex">
                        <ul class="pagination">
                            <li class="page-item">
                                <a href="#" class="page-link" aria-label="Previous">
                                    <span aria-hidden="true">
                                        <span class="ti-arrow-left"></span>
                                    </span>
                                </a>
                            </li>
                            <li class="page-item">
                                <a href="#" class="page-link">1</a>
                            </li>
                            <li class="page-item active">
                                <a href="#" class="page-link">2</a>
                            </li>
                            <li class="page-item">
                                <a href="#" class="page-link" aria-label="Next">
                                    <span aria-hidden="true">
                                        <span class="ti-arrow-right"></span>
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>

            <div class="col-lg-4">
                {% include 'includes/public/sidebar.html' %}
            </div>
        </div>
    </div>
</section>

{% endblock %}
