{% extends 'base.html' %}

{% block title %}{{ titulo }}{% endblock %}

{% block content %}
<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="container">
            <div class="banner_content d-md-flex justify-content-between align-items-center">
                <div class="mb-3 mb-md-0">
                    <h2>{{ titulo }}</h2>
                </div>
                <div class="page_link">
                    <a href="{{ url_for('site.index') }}" title="Home">Home</a>
                    <strong>{{ titulo }}</strong>
                </div>
            </div>
        </div>
    </div>
</section>

{% include 'includes/public/form-filter.html' %}

<section class="blog_area section_gap">
    <div class="container">
        <div class="row">

            <div class="col-lg-8">

                <div class="blog_left_sidebar">
                    {% if posts %}
                    {% for post in posts %}
                    <div class="blog_item">

                        {% if post.genre == 'news' %}
                        <div class="d-block">
                            {% if post.image_id != None%}
                            <a class="blog_item_img" href="{{ url_for('site.noticias_detalhes', id=post.id) }}"
                                title="{{ post.title }}">
                                <img class="card-img rounded-0" src="{{request.url_root}}api/media/{{post.image_id}}"
                                    alt="{{ post.title }}">
                            </a>
                            {% endif %}

                            <div class="blog_details">
                                <a href="{{ url_for('site.noticias_detalhes', id=post.id) }}" title="{{ post.title }}" class="d-block">
                                    <h2>{{ post.title }}</h2>
                                </a>
                                <ul class="blog-info-link mt-3 mb-4">
                                    <li>
                                        <a href="{{ url_for('site.noticias') }}" title=""
                                            class="post_marker {{post.genre}}">
                                            Notícia
                                        </a>
                                    </li>
                                    <li>
                                        <span class="date">
                                            <i class="ti-calendar"></i>
                                            {{ post.created_at|format_datetime('%d/%m/%Y') }}
                                        </span>
                                    </li>
                                    <li>
                                        <a class="author" href="{{ url_for('site.filtro', author=post.user.id) }}"
                                            title="Autor {{ post.user.first_name }} {{ post.user.last_name }}">
                                            <i class="ti-user"></i> Por {{ post.user.first_name }}
                                            {{ post.user.last_name }}
                                        </a>
                                    </li>
                                    {% if post.category.id %}
                                    <li>
                                        <a href="{{ url_for('site.filtro', category=post.category.id) }}"
                                            title="Categoria {{ post.category.name }}">
                                            <i class="ti-tag"></i> {{ post.category.name }}
                                        </a>
                                    </li>
                                    {% endif %}
                                </ul>
                                <p>{{ post.description }}</p>
                                <a class="blog_btn" href="{{ url_for('site.noticias_detalhes', id=post.id) }}"
                                    title="{{ post.title }}">
                                    Ver Mais
                                    <span class="ml-2 ti-arrow-right"></span>
                                </a>
                            </div>
                        </div>

                        {% elif post.genre == 'ad' %}
                        <div class="d-block">
                            {% if post.image_id != None%}
                            <a class="blog_item_img" href="{{ url_for('site.anuncios_detalhes', id=post.id) }}"
                                title="{{ post.title }}">
                                <img class="card-img rounded-0" src="{{request.url_root}}api/media/{{post.image_id}}"
                                    alt="{{ post.title }}">
                            </a>
                            {% endif %}
                            <div class="blog_details">
                                <a href="{{ url_for('site.anuncios_detalhes', id=post.id) }}" title="{{ post.title }}">
                                    <h2>{{ post.title }}</h2>
                                </a>
                                <ul class="blog-info-link mt-3 mb-4">
                                    <li>
                                        <a href="{{ url_for('site.anuncios') }}" title=""
                                            class="post_marker {{post.genre}}">
                                            Anúncio
                                        </a>
                                    </li>
                                    <li>
                                        <span class="date">
                                            <i class="ti-calendar"></i>
                                            {{ post.created_at|format_datetime('%d/%m/%Y') }}
                                        </span>
                                    </li>
                                    <li>

                                        <a class="author" href="{{ url_for('site.filtro', author=post.user.id) }}"
                                            title="Autor {{ post.user.first_name }} {{ post.user.last_name }}">
                                            <i class="ti-user"></i> Por {{ post.user.first_name }}
                                            {{ post.user.last_name }}
                                        </a>
                                    </li>
                                    {% if post.category.id %}
                                    <li>
                                        <a href="{{ url_for('site.filtro', category=post.category.id) }}"
                                            title="Categoria {{ post.category.name }}">
                                            <i class="ti-tag"></i> {{ post.category.name }}
                                        </a>
                                    </li>
                                    {% endif %}
                                </ul>
                                <p>{{ post.description }}</p>
                                <a class="blog_btn" href="{{ url_for('site.anuncios_detalhes', id=post.id) }}"
                                    title="{{ post.title }}">
                                    Ver Mais
                                    <span class="ml-2 ti-arrow-right"></span>
                                </a>
                            </div>
                        </div>

                        {% elif post.genre == 'notice' %}
                        <div class="d-block">
                            {% if post.image_id != None%}
                            <a class="blog_item_img" href="{{ url_for('site.avisos_detalhes', id=post.id) }}"
                                title="{{ post.title }}">
                                <img class="card-img rounded-0" src="{{request.url_root}}api/media/{{post.image_id}}"
                                    alt="{{ post.title }}">
                            </a>
                            {% endif %}
                            <div class="blog_details">
                                <a href="{{ url_for('site.avisos_detalhes', id=post.id) }}" title="{{ post.title }}">
                                    <h2>{{ post.title }}</h2>
                                </a>
                                <ul class="blog-info-link mt-3 mb-4">
                                    <li>
                                        <a href="{{ url_for('site.avisos') }}" title=""
                                            class="post_marker {{post.genre}}">
                                            Aviso
                                        </a>
                                    </li>
                                    <li>
                                        <span class="date">
                                            <i class="ti-calendar"></i>
                                            {{ post.created_at|format_datetime('%d/%m/%Y') }}
                                        </span>
                                    </li>
                                    <li>
                                        <a class="author" href="{{ url_for('site.filtro', author=post.user.id) }}"
                                            title="Autor {{ post.user.first_name }} {{ post.user.last_name }}">
                                            <i class="ti-user"></i> Por {{ post.user.first_name }}
                                            {{ post.user.last_name }}
                                        </a>
                                    </li>
                                    {% if post.category.id %}
                                    <li>
                                        <a href="{{ url_for('site.filtro', category=post.category.id) }}"
                                            title="Categoria {{ post.category.name }}">
                                            <i class="ti-tag"></i> {{ post.category.name }}
                                        </a>
                                    </li>
                                    {% endif %}
                                </ul>
                                <p>{{ post.description }}</p>
                                <a class="blog_btn" href="{{ url_for('site.avisos_detalhes', id=post.id) }}"
                                    title="{{ post.title }}">
                                    Ver Mais
                                    <span class="ml-2 ti-arrow-right"></span>
                                </a>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                    {% endfor %}
                    {% else %}
                    <p class="no-content-found">Nenhum post encontrado.</p>
                    {% endif %}
                </div>

                <!--Paginação-->
                <nav class="blog-pagination justify-content-center d-flex">
                    <ul class="pagination">
                        {% if paginate.next_num != None or paginate.prev_num != None %}

                        {% if(titulo == 'Notícias'): %}
                        {% if currentPage > 1 %}
                        <li class="page-item">
                            <a href="{{ url_for('site.noticias', page=paginate.prev_num, name=name, genre=genre, category=category, author=author) }}"
                                class="page-link" aria-label="Previous" title="Página Anterior">
                                <span aria-hidden="true">
                                    <span class="ti-arrow-left"></span>
                                </span>
                            </a>
                        </li>
                        {% endif %}
                        {% for page in paginate.iter_pages(left_edge=2, left_current=2, right_current=3, right_edge=2) %}
                        {% if page == None %}
                        <li class="page-item">
                            <span class="page-link">...</span>
                        </li>
                        {% else %}
                        <li class="page-item {{ 'active' if currentPage == page else '' }}">
                            <a href="{{ url_for('site.noticias', page=page, name=name, genre=genre, category=category, author=author) }}"
                                class="page-link" title="Página {{page}}">{{ page }}</a>
                        </li>
                        {% endif %}
                        {% endfor %}
                        {% if paginate.next_num != None %}
                        {% if currentPage < paginate.next_num %}
                        <li class="page-item">
                            <a href="{{ url_for('site.noticias', page=paginate.next_num, name=name, category=category, genre=genre, author=author) }}"
                                class="page-link" aria-label="Next" title="Próxima Página">
                                <span aria-hidden="true">
                                    <span class="ti-arrow-right"></span>
                                </span>
                            </a>
                        </li>
                        {% endif %}
                        {% endif %}
                        {% endif %}

                        {% if(titulo == 'Anúncios'): %}
                        {% if currentPage > 1 %}
                        <li class="page-item">
                            <a href="{{ url_for('site.anuncios', page=paginate.prev_num, name=name, genre=genre, category=category, author=author) }}"
                                class="page-link" aria-label="Previous" title="Página Anterior">
                                <span aria-hidden="true">
                                    <span class="ti-arrow-left"></span>
                                </span>
                            </a>
                        </li>
                        {% endif %}
                        {% for page in paginate.iter_pages(left_edge=2, left_current=2, right_current=3, right_edge=2) %}
                        {% if page == None %}
                        <li class="page-item">
                            <span class="page-link">...</span>
                        </li>
                        {% else %}
                        <li class="page-item {{ 'active' if currentPage == page else '' }}">
                            <a href="{{ url_for('site.anuncios', page=page, name=name, genre=genre, category=category, author=author) }}"
                                class="page-link" title="Página {{page}}" title="Próxima Página">{{ page }}</a>
                        </li>
                        {% endif %}
                        {% endfor %}
                        {% if paginate.next_num != None %}
                        {% if currentPage < paginate.next_num %}
                        <li class="page-item">
                            <a href="{{ url_for('site.anuncios', page=paginate.next_num, name=name, category=category, genre=genre, author=author) }}"
                                class="page-link" aria-label="Next">
                                <span aria-hidden="true">
                                    <span class="ti-arrow-right"></span>
                                </span>
                            </a>
                        </li>
                        {% endif %}
                        {% endif %}
                        {% endif %}


                        {% if(titulo == 'Avisos'): %}
                        {% if currentPage > 1 %}
                        <li class="page-item">
                            <a href="{{ url_for('site.avisos', page=paginate.prev_num, name=name, genre=genre, category=category, author=author) }}"
                                class="page-link" aria-label="Previous" title="Página Anterior">
                                <span aria-hidden="true">
                                    <span class="ti-arrow-left"></span>
                                </span>
                            </a>
                        </li>
                        {% endif %}
                        {% for page in paginate.iter_pages(left_edge=2, left_current=2, right_current=3, right_edge=2) %}
                        {% if page == None %}
                        <li class="page-item">
                            <span class="page-link">...</span>
                        </li>
                        {% else %}
                        <li class="page-item {{ 'active' if currentPage == page else '' }}">
                            <a href="{{ url_for('site.avisos', page=page, name=name, genre=genre, category=category, author=author) }}"
                                class="page-link" title="Página {{page}}">{{ page }}</a>
                        </li>
                        {% endif %}
                        {% endfor %}
                        {% if paginate.next_num != None %}
                        {% if currentPage < paginate.next_num %}
                        <li class="page-item">
                            <a href="{{ url_for('site.avisos', page=paginate.next_num, name=name, category=category, genre=genre, author=author) }}"
                                class="page-link" aria-label="Next" title="Próxima Página">
                                <span aria-hidden="true">
                                    <span class="ti-arrow-right"></span>
                                </span>
                            </a>
                        </li>
                        {% endif %}
                        {% endif %}
                        {% endif %}

                        {% if(titulo == 'Filtro'): %}
                        {% if currentPage > 1 %}
                        <li class="page-item">
                            <a href="{{ url_for('site.filtro', page=paginate.prev_num, name=name, genre=genre, category=category, author=author) }}"
                                class="page-link" aria-label="Previous" title="Página Anterior">
                                <span aria-hidden="true">
                                    <span class="ti-arrow-left"></span>
                                </span>
                            </a>
                        </li>
                        {% endif %}
                        {% for page in paginate.iter_pages(left_edge=2, left_current=2, right_current=3, right_edge=2) %}
                        {% if page == None %}
                        <li class="page-item">
                            <span class="page-link">...</span>
                        </li>
                        {% else %}
                        <li class="page-item {{ 'active' if currentPage == page else '' }}">
                            <a href="{{ url_for('site.filtro', page=page, name=name, genre=genre, category=category, author=author) }}"
                                class="page-link" title="Página {{page}}">{{ page }}</a>
                        </li>
                        {% endif %}
                        {% endfor %}
                        {% if paginate.next_num != None %}
                        {% if currentPage < paginate.next_num %}
                        <li class="page-item">
                            <a href="{{ url_for('site.filtro', page=paginate.next_num, name=name, category=category, genre=genre, author=author) }}"
                                class="page-link" aria-label="Next" title="Próxima Página">
                                <span aria-hidden="true">
                                    <span class="ti-arrow-right"></span>
                                </span>
                            </a>
                        </li>
                        {% endif %}
                        {% endif %}
                        {% endif %}


                        {% if(titulo == 'Tag'): %}
                        {% if currentPage > 1 %}
                        <li class="page-item">
                            <a href="{{ url_for('site.tag', page=paginate.prev_num, tag=tag) }}" class="page-link"
                                aria-label="Previous" title="Página Anterior">
                                <span aria-hidden="true">
                                    <span class="ti-arrow-left"></span>
                                </span>
                            </a>
                        </li>
                        {% endif %}
                        {% for page in paginate.iter_pages(left_edge=2, left_current=2, right_current=3, right_edge=2) %}
                        {% if page == None %}
                        <li class="page-item">
                            <span class="page-link">...</span>
                        </li>
                        {% else %}
                        <li class="page-item {{ 'active' if currentPage == page else '' }}">
                            <a href="{{ url_for('site.tag', page=page, tag=tag) }}" class="page-link"
                                title="Página {{page}}">{{ page }}</a>
                        </li>
                        {% endif %}
                        {% endfor %}
                        {% if paginate.next_num != None %}
                        {% if currentPage < paginate.next_num %}
                        <li class="page-item">
                            <a href="{{ url_for('site.tag', page=paginate.next_num, tag=tag) }}" class="page-link"
                                aria-label="Next" title="Próxima Página">
                                <span aria-hidden="true">
                                    <span class="ti-arrow-right"></span>
                                </span>
                            </a>
                        </li>
                        {% endif %}
                        {% endif %}
                        {% endif %}


                        {% endif %}
                    </ul>
                </nav>
            </div>

            <div class="col-lg-4">
                {% include 'includes/public/sidebar.html' %}
            </div>
        </div>
    </div>
</section>

{% endblock %}