{% extends 'base.html' %}

{% block title %}Início{% endblock %}

{% block content %}

<section>
    <div class="wrapper">
        <div class="slideshow">
            {% for image in configuration.images %}
            <div>
                <div class="animated-bg-zoom"
                    style="background-image:  url({{request.url_root}}api/media/{{image.id}})"></div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

{% include 'includes/public/form-filter.html' %}
{% if ads %}
<div class="carouse">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row justify-content-between">
                    <div class="col">
                        <h2>Anúncios</h2>
                    </div>
                    <div class="col text-right hide-480">
                        <a href="{{ url_for('site.anuncios') }}" class="btn btn-info btn-sm"
                            title="Ver todos os anúncios">
                            Ver todos os anúncios
                        </a>
                    </div>
                </div>
                <div class="carousel">
                    {% for post in ads %}
                    <div>
                        <div class="card blog__slide text-center">
                            <a href="{{ url_for('site.anuncios_detalhes', id=post.id) }}" class="blog_btn"
                                title="{{ post.title }}">
                                {% if post.image_id == None %}
                                <div class="no-image">
                                    <div>
                                        <p>{{ post.description }}</p>
                                    </div>
                                </div>
                                {% else %}
                                <div class="blog__slide__img">
                                    <img class="card-img rounded-0"
                                        src="{{request.url_root}}api/media/{{post.image_id}}" alt="{{ post.title }}">
                                </div>
                                {% endif %}
                                <div class="blog__slide__content">
                                    <h3>
                                        <span class="blog_btn">
                                            {{ post.title }}
                                        </span>
                                    </h3>
                                </div>
                            </a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="row show-480">
                    <div class="col">
                        <a href="{{ url_for('site.anuncios') }}" class="btn btn-info btn-sm btn-block"
                            title="Ver todos os anúnicios">
                            Ver todos os anúncios
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
<section class="blog-area section-gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                {% if news %}
                <div class="row">
                    <div class="col">
                        <h2>Últimas Notícias</h2>
                    </div>
                </div>
                {% for post in news %}
                <div class="row">
                    <div class="col-md-12">
                        <div class="single-blog">
                            <div class="blog_btn">
                                {% if post.image_id != None %}
                                <a class="thumb" href="{{ url_for('site.noticias_detalhes', id=post.id) }}"
                                    title="{{ post.title }}">
                                    <img class="img-fluid" src="{{request.url_root}}api/media/{{post.image_id}}"
                                        alt="{{ post.title }}">
                                </a>
                                {% endif %}
                                <div class="short_details">
                                    <a href="{{ url_for('site.noticias_detalhes', id=post.id) }}"
                                        title="{{ post.title }}">
                                        <h3>{{ post.title }}</h3>
                                    </a>
                                    <ul class="blog-info-link mt-3 mb-4">
                                        <li>
                                            <a href="{{ url_for('site.noticias') }}" title=""
                                                class="post_marker {{post.genre}}">
                                                Notícia
                                            </a>
                                        </li>
                                        <li>
                                            <span class="date">
                                                <i class="ti-calendar"></i>
                                                {{ post.created_at|format_datetime('%d/%m/%Y') }}
                                            </span>
                                        </li>
                                        <li>
                                            <a class="author" href="{{ url_for('site.filtro', author=post.user.id) }}"
                                                title="Autor {{ post.user.first_name }} {{ post.user.last_name }}">
                                                <i class="ti-user"></i> Por {{ post.user.first_name }}
                                                {{ post.user.last_name }}
                                            </a>
                                        </li>
                                        {% if post.category.id %}
                                        <li>
                                            <a href="{{ url_for('site.filtro', category=post.category.id) }}"
                                                title="Categoria {{ post.category.name }}">
                                                <i class="ti-tag"></i> {{ post.category.name }}
                                            </a>
                                        </li>
                                        {% endif %}
                                    </ul>
                                    <div class="text-wrap">
                                        <p>
                                            {{ post.description }}
                                        </p>
                                    </div>
                                    <a class="blog_btn" href="{{ url_for('site.noticias_detalhes', id=post.id) }}"
                                        title="{{ post.title }}">
                                        Ver Mais
                                        <span class="ml-2 ti-arrow-right"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <div class="row">
                    <div class="col-md-12">
                        <a href="{{ url_for('site.noticias') }}" class="btn btn-info btn-block"
                            title="Ver todas as notícias">Ver todas as notícias</a>
                    </div>
                </div>
                {% else %}
                <p class="no-content-found">Nenhuma notícia cadastrada.</p>
                {% endif %}
            </div>
            <div class="col-lg-4">

                {% include 'includes/public/sidebar.html' %}
            </div>
        </div>
    </div>

</section>

{% endblock %}