{% extends 'base.html' %}

{% block title %}Início{% endblock %}

{% block content %}

<section>
    <div class="wrapper">
        <div class="slideshow">
            <div>
                <div style="background-image: url({{ url_for('static', filename='public/img/banner-1.jpg') }})"></div>
            </div>
            <div>
                <div style="background-image: url({{ url_for('static', filename='public/img/banner-2.jpg') }})"></div>
            </div>
        </div>
    </div>
</section>

{% include 'includes/public/form-filter.html' %}

<div class="carouse">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row justify-content-between">
                    <div class="col">
                        <h2>Anúncios</h2>
                    </div>
                    <div class="col text-right">
                        <a href="{{ url_for('site.anuncios') }}" class="btn btn-info btn-sm">Ver Todos</a>
                    </div>
                </div>
                <div class="carousel">
                    {% for post in ads %}
                    <div>
                        <div class="card blog__slide text-center">
                            <div class="blog__slide__img">
                                <img class="card-img rounded-0" src="{{request.url_root}}api/media/{{post.image_id}}"
                                    alt="">
                                <a href="{{ url_for('site.anuncios_detalhes') }}" class="blog_btn">

                            </div>
                            <div class="blog__slide__content">
                                <h3>
                                    <a href="{{ url_for('site.avisos_detalhes') }}" class="blog_btn">
                                        {{ post.title }}
                                    </a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

<!--================ Start Blog Area =================-->
<section class="blog-area section-gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="row">
                    <div class="col">
                        <h2>Últimas Notícias</h2>
                    </div>
                </div>
                {% for post in news %}
                <div class="row">
                    <div class="col-md-12">
                        <div class="single-blog ">
                            {% if post.image_id != None %}
                            <div class="thumb">
                                <img class="img-fluid" src="{{request.url_root}}api/media/{{post.image_id}}" alt="">
                            </div>
                            {% endif %}
                            <div class="short_details">
                                <a href="{{ url_for('site.noticias_detalhes') }}" class="blog_btn">
                                    <h3>{{ post.image_id }}</h3>
                                </a>
                                <div class="text-wrap">
                                    <p>
                                        {{ post.description }}
                                    </p>
                                </div>
                                <a href="{{ url_for('site.noticias_detalhes') }}" class="blog_btn">
                                    Ver Mais
                                    <span class="ml-2 ti-arrow-right"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <div class="row">
                    <div class="col-md-12">
                        <a href="{{ url_for('site.noticias') }}" class="btn btn-info btn-block">Ver Todas a Notícias</a>
                    </div>
                </div>

            </div>

            <div class="col-lg-4">
                {% include 'includes/public/sidebar.html' %}
            </div>

        </div>

    </div>

</section>
<!--================ End Blog Area =================-->

<!--================ start footer Area  =================-->

<!--================ End footer Area  =================-->

</div>


{% endblock %}