{% extends 'base.html' %}

{% block title %}Início{% endblock %}

{% block content %}

<section>
    <div class="wrapper">
        <div class="slideshow">
            {% for image in configuration.images %}
            <div>
                <div style="background-image:  url({{request.url_root}}api/media/{{image.id}})"></div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

{% include 'includes/public/form-filter.html' %}

<div class="carouse">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row justify-content-between">
                    <div class="col">
                        <h2>Anúncios</h2>
                    </div>
                    <div class="col text-right">
                        <a href="{{ url_for('site.anuncios') }}" class="btn btn-info btn-sm" title="Ver Todos">Ver
                            Todos</a>
                    </div>
                </div>
                <div class="carousel">
                    {% for post in ads %}
                    <div>
                        <div class="card blog__slide text-center">
                            <a href="{{ url_for('site.anuncios_detalhes', id=post.id) }}" class="blog_btn"
                                title="{{ post.title }}">
                                {% if post.image_id == None %}
                                <div class="no-image">
                                    <div>
                                        <p>{{ post.description }}</p>
                                    </div>
                                </div>
                                {% else %}
                                <div class="blog__slide__img">
                                    <img class="card-img rounded-0"
                                        src="{{request.url_root}}api/media/{{post.image_id}}" alt="{{ post.title }}">
                                </div>
                                {% endif %}
                                <div class="blog__slide__content">
                                    <h3>
                                        <span class="blog_btn">
                                            {{ post.title }}
                                        </span>
                                    </h3>
                                </div>
                            </a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

<section class="blog-area section-gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="row">
                    <div class="col">
                        <h2>Últimas Notícias</h2>
                    </div>
                </div>
                {% for post in news %}
                <div class="row">
                    <div class="col-md-12">
                        <div class="single-blog">
                            <a href="{{ url_for('site.noticias_detalhes', id=post.id) }}" class="blog_btn"
                                title="{{ post.title }}">
                                {% if post.image_id != None %}
                                <div class="thumb">
                                    <img class="img-fluid" src="{{request.url_root}}api/media/{{post.image_id}}"
                                        alt="{{ post.title }}">
                                </div>
                                {% endif %}
                                <div class="short_details">
                                    <h3>{{ post.title }}</h3>
                                    <div>
                                        <a href="{{ url_for('site.noticias') }}" title=""
                                            class="post_marker {{post.genre}}">
                                            Notícia
                                        </a>
                                        <a class="date">
                                            <i class="ti-calendar"></i>
                                            {{ post.created_at|format_datetime('%d/%m/%Y') }}
                                        </a>
                                    </div>
                                    <div class="text-wrap">
                                        <p>
                                            {{ post.description }}
                                        </p>
                                    </div>
                                    <span class="blog_btn">
                                        Ver Mais
                                        <span class="ml-2 ti-arrow-right"></span>
                                    </span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <div class="row">
                    <div class="col-md-12">
                        <a href="{{ url_for('site.noticias') }}" class="btn btn-info btn-block">Ver Todas a Notícias</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                {% include 'includes/public/sidebar.html' %}
            </div>
        </div>

    </div>

</section>

{% endblock %}