{% extends 'base-admin.html' %}

{% from "macros/formFields.html" import render_field, render_file_field, render_hidden_field %}

{% block title %}
{{titulo}}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">{{ titulo }}</h4>
                <form class="forms-sample" novalidate method="POST">
                    {{ form.csrf_token }}
                    {{ render_field(form.first_name) }}
                    {{ render_field(form.last_name) }}
                    {{ render_field(form.registry, 'mask-number', '60') }}
                    {{ render_field(form.email) }}
                    {{ render_field(form.phone, 'mask-phone') }}
                    {{ render_field(form.password) }}
                    {{ render_field(form.role) }}
                    {{ render_hidden_field(form.image_id) }}
                    {{ render_file_field(form.image) }}
                    <div id="imageContainer">
                        {% if mode == 'editar' %}
                            {% if user.image_id %}
                                <div class="form-group">
                                    <figure class="previewImage">
                                        <i class="mdi mdi-close-circle"></i>
                                        <img src="http://127.0.0.1:5000/api/media/{{ user.image_id }}" alt="User Avatar" />
                                    </figure>
                                </div>
                            {% endif %}
                        {% endif %}
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Salvar</button>
                    <button type="button" class="btn btn-light" onClick="history.go(-1); return false;">Cancelar</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}