{% extends 'base-admin.html' %}

{% from "macros/formFields.html" import render_field, render_file_field, render_hidden_field %}

{% block title %}
{{titulo}}
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="ul-breadcrumb">
            <li>
                <a href="{{ url_for('dashboard.dash') }}" title="Dashboard">Dashboard</a>
            </li>
            <li>
                <a href="{{ url_for('usuarios.index') }}" title="Usuários">Usuários</a>
            </li>
            <li>
                <b>{{ titulo }}</b>
            </li>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">{{ titulo }}</h4>
                <form class="forms-sample" novalidate method="POST">
                    {{ form.csrf_token }}
                    {{ render_field(form.first_name, 'required', '100') }}
                    {{ render_field(form.last_name, 'required', '100') }}
                    {{ render_field(form.registry, 'mask-number required numeric', '6') }}
                    {{ render_field(form.email, 'required email', '255') }}
                    {{ render_field(form.phone, 'mask-phone phone required') }}
                    {{ render_field(form.password, 'required', '100') }}
                    {{ render_field(form.role, 'required') }}
                    <div>
                        {{ render_file_field(form.image, '') }}

                        <div>
                            <div class="cropp-box-2">
                                <div class="cropp-result"></div>
                            </div>
                            <div class="cropp-box-2 cropp-img-result cropp-hide">
                                <img class="cropp-cropped" src="" alt="">
                            </div>
                            <div class="cropp-box">
                                <button type="button" class="btn btn-secondary cropp-cropp cropp-hide">
                                    Cortar Imagem
                                </button>
                                <button type="button" class="btn btn-success cropp-save cropp-hide">
                                    Enviar Imagem
                                </button>
                            </div>
                        </div>

                        <div class="image-container">
                            {% if form.image_id.data %}
                            <div class="form-group">
                                <figure class="previewImage">
                                    <i class="mdi mdi-close-circle closePreviewImage"></i>
                                    <img src="{{request.url_root}}api/media/{{ form.image_id.data }}"
                                        alt="User Avatar" />
                                </figure>
                            </div>
                            {% else %}
                            {% if mode == 'editar' %}
                            {% if user.image_id and form.image_id.data != '' %}
                            <div class="form-group">
                                <figure class="previewImage">
                                    <i class="mdi mdi-close-circle closePreviewImage"></i>
                                    <img src="{{request.url_root}}api/media/{{ user.image_id }}" alt="User Avatar" />
                                </figure>
                            </div>
                            {% endif %}
                            {% endif %}
                            {% endif %}
                        </div>
                        <div class="hidden-group">
                            {{ render_hidden_field(form.image_id) }}
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Salvar</button>
                    <button type="button" class="btn btn-light"
                        onClick="history.go(-1); return false;">Cancelar</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block footer_script %}
<script>
    var validator = new VanillaValidator({
        messages: {
            required: 'Campo obrigatório',
            email: 'E-mail inválido',
            phone: 'Número de telefone inválido',
            numeric: 'Apenas números'
        }
    });
</script>
{% endblock footer_script %}