{% block navbar %}
<nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
    <div class="navbar-brand-wrapper d-flex justify-content-center">
        <div class="navbar-brand-inner-wrapper d-flex justify-content-between align-items-center w-100">
            <a class="navbar-brand brand-logo" href="{{ url_for('dashboard.dash') }}" title="Uniplac Digital">
                <img src="{{ url_for('static', filename='admin/images/logo.jpg') }}" alt="Logo Uniplac" />
            </a>
            <a class="navbar-brand brand-logo-mini" href="{{ url_for('dashboard.dash') }}"  title="Uniplac Digital">
                <img  src="{{ url_for('static', filename='admin/images/logo-mini.jpg') }}" alt="Logo Uniplac" />
            </a>
            <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                <span class="mdi mdi-sort-variant"></span>
            </button>
        </div>
    </div>
    <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
        <ul class="navbar-nav navbar-nav-right">
            <li class="nav-item nav-profile dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
                    <!--<img src="{{request.url_root}}api/media/{{ session.get('user_avatar', 0) }}" alt="profile" />-->
                    <div class="img-avatar" style="background-image: url({{request.url_root}}api/media/{{ session.get('user_avatar', 0) }})"></div>
                    <span class="nav-profile-name">{{ session.get('user_name', None) }}</span>
                </a>
                <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
                    <a class="dropdown-item" href="{{ url_for('site.index') }}" title="Ver Site">
                        <i class="mdi mdi-monitor-multiple text-primary"></i>
                        Ver Site
                    </a>
                    <a class="dropdown-item" href="{{ url_for('usuarios.editar', id=session.get('user_id', 0)) }}" title="Editar Perfil">
                        <i class="mdi mdi-settings text-primary"></i>
                        Editar Perfil
                    </a>
                    <a href="{{ url_for('login.logout') }}" class="dropdown-item" title="Logout">
                        <i class="mdi mdi-logout text-primary"></i>
                        Logout
                    </a>
                </div>
            </li>
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
            data-toggle="offcanvas">
            <span class="mdi mdi-menu"></span>
        </button>
    </div>
</nav>
{% endblock navbar %}