{% block navigation %}
<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="index.html">
                <i class="mdi mdi-home menu-icon"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-news" aria-expanded="false" aria-controls="ui-news">
                <i class="mdi mdi-newspaper menu-icon"></i>
                <span class="menu-title">Notícias</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-news">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item">
                        <a class="nav-link" href="news.html">Ver todos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="post-form.html">Adicionar Novo</a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-ads" aria-expanded="false" aria-controls="ui-ads">
                <i class="mdi mdi-bullhorn menu-icon"></i>
                <span class="menu-title">Anúncios</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-ads">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item">
                        <a class="nav-link" href="ads.html">Ver todos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="post-form.html">Adicionar Novo</a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-novices" aria-expanded="false"
                aria-controls="ui-novices">
                <i class="mdi mdi-sim-alert menu-icon"></i>
                <span class="menu-title">Avisos</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-novices">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item">
                        <a class="nav-link" href="novices.html">Ver todos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="post-form.html">Adicionar Novo</a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-user" aria-expanded="false" aria-controls="ui-user">
                <i class="mdi mdi-account menu-icon"></i>
                <span class="menu-title">Usuários</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-user">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('usuarios.index') }}">Ver todos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('usuarios.cadastrar') }}">Adicionar Novo</a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-category" aria-expanded="false"
                aria-controls="ui-category">
                <i class="mdi mdi-tag menu-icon"></i>
                <span class="menu-title">Categorias</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-category">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item">
                        <a class="nav-link" href="categories.html">Ver todas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="category-form.html">Adicionar Novo</a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-config" aria-expanded="false"
                aria-controls="ui-config">
                <i class="mdi mdi-settings menu-icon"></i>
                <span class="menu-title">Configurações</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-config">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item">
                        <a class="nav-link" href="configurations.html">Ver Detalhes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="config-form.html">Editar</a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</nav>
{% endblock navigation %}