<!DOCTYPE html>
<html lang="pt-br">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta content="{{ configuration.description }}" name="description">
    <title>{% block title %}{% endblock title %} - {{ configuration.name }} - Admin</title>

    <style type="text/css">
        body {
            -moz-opacity: 0.00;
            -khtml-opacity: 0.00;
            opacity: 0.00;
        }
    </style>

    <link rel="stylesheet" href="{{ url_for('static', filename='admin/vendors/mdi/css/materialdesignicons.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='admin/vendors/base/vendor.bundle.base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='admin/css/cropper.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='admin/css/lightbox.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='admin/distt/bootstrap-tagsinput.css') }}">



    {% block especifcstyles %}{% endblock especifcstyles %}

    <link rel="stylesheet" href="{{ url_for('static', filename='admin/css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='admin/css/custom.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='admin/images/favicon.png') }}">


</head>

<body>

    {% include "includes/admin/navbar.html" ignore missing %}

    <div class="container-fluid page-body-wrapper">

        {% include "includes/admin/navigation.html" ignore missing %}

        <div class="main-panel">
            <div class="content-wrapper">

                {% from "macros/messageFlash.html" import render_message %}
                {{ render_message() }}

                {% block content %}
                conteúdo aqui
                {% endblock content %}
            </div>
        </div>

    </div>

    <!-- Modal -->
    <div class="modal fade" id="modalMessages" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="modalMessageText"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        var GLOBALS = {
            'BASE_URL': '{{request.url_root}}'
        };
    </script>

    <script src="{{ url_for('static', filename='admin/vendors/base/vendor.bundle.base.js') }}"></script>
    <script src="{{ url_for('static', filename='admin/js/cropper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='admin/js/lightbox.min.js') }}"></script>

    {% block especifcscripts %}{% endblock especifcscripts %}

    <script src="{{ url_for('static', filename='admin/js/off-canvas.js') }}"></script>
    <script src="{{ url_for('static', filename='admin/js/hoverable-collapse.js') }}"></script>
    <script src="{{ url_for('static', filename='admin/js/template.js') }}"></script>
    <script src="{{ url_for('static', filename='admin/js/vanilla-masker.min.js') }}"></script>
    <script src="{{ url_for('static', filename='admin/js/custom.js') }}"></script>
    <script src="{{ url_for('static', filename='admin/js/image-upload.js') }}"></script>
    <script src="{{ url_for('static', filename='admin/dist/vanilla-validator.concat.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='admin/distt/bootstrap-tagsinput.min.js') }}"></script>
    <script>
        $(window).on('load', function () {
            setTimeout(function () {
                $("body").fadeTo(300, 1);
                $(window).resize();
            }, 1);
        });

        function startTimer(duration) {
            var timer = duration;
            var interval = setInterval(function () {
                if (--timer < 0) {
                    clearInterval(interval);
                    window.location.replace('/login/logout');
                }
            }, 1000);
        }
        window.onload = function () {
            var time = 60 * 60;
            startTimer(time);
        };

        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        });
    </script>
    {% block footer_script %}{% endblock footer_script %}
</body>

</html>