<!DOCTYPE html>
<html lang="pt-br">

<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta content="{{ configuration.description }}" name="description">
    <title>{% block title %}{% endblock title %} - {{ configuration.name }}</title>
    {% block pagestyles %}
    <style type="text/css">
        body {
            -moz-opacity: 0.00;
            -khtml-opacity: 0.00;
            opacity: 0.00;
        }
    </style>
    <link rel="stylesheet" href="{{ url_for('static', filename='public/css/bootstrap.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='public/css/themify-icons.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='public/vendors/nice-select/css/nice-select.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='public/css/slick-theme.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='public/css/slick.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='public/css/slideshow.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='public/css/style.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='public/css/responsive.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='public/css/custom.css') }}" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='public/img/favicon.png') }}">
    {% endblock %}
    {% endblock %}
</head>

<body>
    {% include "includes/public/header.html" %}
    {% block content %}
    conteúdo aqui
    {% endblock content %}
    {% include "includes/public/footer.html" ignore missing %}
    <span id="on-back-to-top" class="on-back-to-top">
        <img src="{{ url_for('static', filename='public/img/navigate-up-arrow.svg') }}" alt="Voltar para o topo">
    </span>
    {% block scripts %}
        <script src="{{ url_for('static', filename='public/js/jquery-3.2.1.min.js') }}"></script>
        <script src="{{ url_for('static', filename='public/js/popper.js') }}"></script>
        <script src="{{ url_for('static', filename='public/js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='public/js/stellar.js') }}"></script>
        <script src="{{ url_for('static', filename='public/vendors/nice-select/js/jquery.nice-select.min.js') }}"></script>
        <script src="{{ url_for('static', filename='public/js/theme.js') }}?"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='public/js/slick.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='public/js/script.js') }}"></script>
        <script src="{{ url_for('static', filename='public/dist/vanilla-validator.concat.min.js') }}"></script>
        <script>
            $(window).on('load', function () {
                setTimeout(function () {
                    $("body").fadeTo(300, 1);
                    $(window).resize();
                }, 1);
            });
        </script>
        {% if session.get('user_id', '') != '' %}
            <script>
                function startTimer(duration) {
                    var timer = duration;
                    var interval = setInterval(function () {
                        if (--timer < 0) {
                            clearInterval(interval);
                            window.location.replace('/login/logout');
                        }
                    }, 1000);
                }
                window.onload = function () {
                    var time = 60 * 60;
                    startTimer(time);
                };
            </script>
        {% endif %}
    {% endblock %}
    {% block footer_script %}{% endblock footer_script %}
</body>

</html>