<!DOCTYPE html>
<html lang="pt-br">

<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta content="{{ configuration.description }}" name="description">
    <title>{% block title %}{% endblock title %} - {{ configuration.name }}</title>

    {% block pagestyles %}
    <style type="text/css">
		body{
			-moz-opacity: 0.00;
			-khtml-opacity: 0.00;
			opacity: 0.00;
		}
	</style>
    <link rel="stylesheet" href="{{ url_for('static', filename='admin/vendors/mdi/css/materialdesignicons.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='admin/vendors/base/vendor.bundle.base.css') }}">
    <link rel="stylesheet"
        href="{{ url_for('static', filename='admin/vendors/datatables.net-bs4/dataTables.bootstrap4.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='admin/css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='admin/css/custom.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='admin/images/favicon.png') }}" />
    {% endblock %}

    {% endblock %}
</head>

<body>

    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
            <div class="content-wrapper d-flex align-items-center auth px-0">
                <div class="row w-100 mx-0">
                    <div class="col-lg-4 mx-auto">
                        <div class="auth-form-light text-left py-5 px-4 px-sm-5">
                            <a href="{{ url_for('site.index') }}" class="brand-logo" title="{{ configuration.name }}">
                                <img src="{{ url_for('static', filename='admin/images/logo.jpg') }}" alt="logo">
                            </a>
                            {% from "macros/messageFlash.html" import render_message %}
                            {{ render_message() }}
                            {% block content %}
                                content here
                            {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    

    {% block footer %}
    {% endblock %}

    {% block scripts %}
    <script src="{{ url_for('static', filename='admin/vendors/base/vendor.bundle.base.js') }}"></script>
    <script src="{{ url_for('static', filename='admin/vendors/chart.js/Chart.min.js') }}"></script>
    <script src="{{ url_for('static', filename='admin/js/off-canvas.js') }}"></script>
    <script src="{{ url_for('static', filename='admin/js/hoverable-collapse.js') }}"></script>
    <script src="{{ url_for('static', filename='admin/js/template.js') }}"></script>
    <script src="{{ url_for('static', filename='admin/js/dashboard.js') }}"></script>
    <script src="{{ url_for('static', filename='admin/js/jquery.dataTables.js') }}"></script>
    <script src="{{ url_for('static', filename='admin/js/dataTables.bootstrap4.js') }}"></script>
    <script>
        $(window).on('load', function(){
            setTimeout(function(){
                $("body").fadeTo(300, 1);
                $(window).resize();
            }, 1);
        });
    </script>
    {% endblock %}

</body>

</html>