{% macro render_field(field, cssClass='', maxLength='') %}
<div class="form-group">
    {{ field.label }}
    {% if field.errors %}
        {{ field(class="form-control is-invalid "+cssClass, maxLength=""+maxLength) }}
    {% for error in field.errors %}
        <span class="invalid-feedback">{{ error }}</span>
    {% endfor %}
    {% else %}
        {{ field(class="form-control "+cssClass, maxLength=""+maxLength) }}
    {% endif %}
</div>
{% endmacro %}


{% macro render_hidden_field(field) %}
    {{ field() }}
    {% if field.errors %}
    {% for error in field.errors %}
    <span class="invalid-feedback">{{ error }}</span>
    {% endfor %}
    {% endif %}
{% endmacro %}


{% macro render_file_field(field, cssClass='') %}
<div class="form-group">
    {{ field.label }}
    {{ field(class="file-upload-default "+cssClass, accept=".jpg,.jpeg,.png,.gif") }}
    <div class="input-group">
        <input type="text" class="form-control file-upload-info" readonly placeholder="Upload Image">
        <span class="input-group-append">
            <button class="file-upload-browse btn btn-primary" type="button">Upload</button>
        </span>
    </div>
    {% if field.errors %}
    {% for error in field.errors %}
    <span class="invalid-feedback">{{ error }}</span>
    {% endfor %}
    {% endif %}
</div>
{% endmacro %}