{% macro render_field(field, cssClass='None') %}
<div class="form-group">
    {{ field.label }}
    {% if field.errors %}
        {{ field(class="form-control is-invalid "+cssClass) }}
    {% for error in field.errors %}
        <span class="invalid-feedback">{{ error }}</span>
    {% endfor %}
    {% else %}
        {{ field(class="form-control "+cssClass, default="{{ value }}") }}
    {% endif %}
</div>
{% endmacro %}


{% macro render_hidden_field(field) %}
    {{ field() }}
{% endmacro %}


{% macro render_file_field(field) %}
<div class="form-group">
    {{ field.label }}
    {{ field(class="file-upload-default") }}
    <div class="input-group">
        <input type="text" class="form-control file-upload-info" placeholder="Upload Image">
        <span class="input-group-append">
            <button class="file-upload-browse btn btn-primary" type="button">Upload</button>
        </span>
    </div>
    {% if field.errors %}
    {% for error in field.errors %}
    <span class="invalid-feedback">{{ error }}</span>
    {% endfor %}
    {% endif %}
</div>
{% endmacro %}