{% macro render_field(field, cssClass='', maxLength='') %}
<div class="form-group">
    {{ field.label }}
    {% if field.errors %}
    {{ field(class="form-control is-invalid "+cssClass, maxLength=""+maxLength) }}
    {% for error in field.errors %}
    <span class="invalid-feedback">{{ error }}</span>
    {% endfor %}
    {% else %}
    {{ field(class="form-control "+cssClass, maxLength=""+maxLength) }}
    {% endif %}
</div>
{% endmacro %}

{% macro render_hidden_field(field) %}
{{ field() }}
{% if field.errors %}
{% for error in field.errors %}
<span class="invalid-feedback">{{ error }}</span>
{% endfor %}
{% endif %}
{% endmacro %}


{% macro render_file_field(field, cssClass='') %}
<div class="form-group">
    {{ field.label }} 
    <sup>
        <i class="mdi mdi-help-circle" data-toggle="tooltip" data-html="true" title="Para adicionar uma imagem, selecione-a, corte-a, envie-a para o servidor e salve o formulário clicando no botão 'Salvar'"></i>
    </sup>
    {{ field(class="file-upload-default "+cssClass, accept=".jpg,.jpeg,.png,.gif") }}
    <div class="input-group">
        <input type="text" class="form-control file-upload-info" readonly placeholder="Upload Image">
        <span class="input-group-append">
            <button class="file-upload-browse btn btn-primary" type="button">Upload</button>
        </span>
    </div>
    {% if field.errors %}
    {% for error in field.errors %}
    <span class="invalid-feedback">{{ error }}</span>
    {% endfor %}
    {% endif %}
</div>
{% endmacro %}

{% macro render_field_date(field, cssClass='') %}
<div class="form-group">
    {{ field.label }}
    {% if field.errors %}
    <div class="input-group">
        {{ field(class="form-control is-invalid mask-date "+cssClass, data_toggle="datetimepicker", data_target="#"+field.name) }}
        <span class="input-group-append">
            <button type="button" class="btn btn-outline-secondary" data-toggle="datetimepicker" data-target="#{{ field.name }}">
                <i class="mdi mdi-calendar"></i>
            </button>
        </span>
    </div>
    {% for error in field.errors %}
    <span class="invalid-feedback">{{ error }}</span>
    {% endfor %}
    {% else %}
    <div class="input-group date">
        {{ field(class="form-control mask-date "+cssClass, data_toggle="datetimepicker", data_target="#"+field.name) }}
        <span class="input-group-append">
            <button type="button" class="btn btn-outline-secondary" data-toggle="datetimepicker" data-target="#{{ field.name }}">
                <i class="mdi mdi-calendar"></i>
            </button>
        </span>
    </div>
    {% endif %}
</div>
{% endmacro %}


{% macro render_checkbox_field(field, cssClass='', label='') %}
<div class="form-check form-check-flat form-check-primary">
    <label class="form-check-label">
        {{ field(class="form-check-input "+cssClass) }}
        {{label}}
        <i class="input-helper"></i>
    </label>
    {% if field.errors %}
        {% for error in field.errors %}
            <span class="invalid-feedback">{{ error }}</span>
        {% endfor %}
    {% endif %}
</div>
{% endmacro %}