{% extends 'base-admin.html' %}

{% from "macros/formFields.html" import render_field, render_checkbox_field %}

{% block title%}
{{ titulo }} de Categoria
{% endblock title%}

{% block content %}

<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="ul-breadcrumb">
            <li>
                <a href="{{ url_for('dashboard.dash') }}" title="Dashboard">Dashboard</a>
            </li>
            <li>
                <a href="{{ url_for('categorias.index') }}" title="Categorias">Categorias</a>
            </li>
            <li>
                <b>{{ titulo }} de Categoria</b>
            </li>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">{{ titulo }} de Categoria</h4>
                <form class="forms-sample" method="POST" novalidate>
                    {{ form.csrf_token }}
                    {{ render_field(form.name, 'required', '45') }}
                    {{ render_field(form.description, '', '255') }}
                    {{ render_checkbox_field(form.destacado, '', 'Destacar Categoria?') }}
                    <br />
                    <button type="submit" class="btn btn-primary mr-2">Enviar</button>
                    <button type="button" class="btn btn-light" onClick="history.go(-1); return false;">Cancelar</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content%}

{% block footer_script %}
<script>
    var validator = new VanillaValidator({
        messages: {
            required: 'Campo obrigatório'        
        }
    });
  </script>
{% endblock footer_script %}