{% extends 'base-admin.html' %}

{% from "macros/formFields.html" import render_field %}

{% block title%}
Categorias
{% endblock title%}

{% block content %}
<div class="row">
    <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">{{ titulo }} de Categoria</h4>
                <form class="forms-sample" method="POST" novalidate>
                    {{ render_field(form.name) }}
                    {{ render_field(form.description) }}
                    <button type="submit" class="btn btn-primary mr-2">Enviar</button>
                    <button class="btn btn-light">Cancelar</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content%}