{% extends 'base-admin.html' %}

{% block title%}
Categorias
{% endblock title%}

{% block content %}
<div class="row">
    <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">{{ titulo }} de Categoria</h4>
                <form class="forms-sample">
                    <div class="form-group">
                        <label for="exampleInputUsername1">Nome</label>
                        <input type="text" class="form-control" id="exampleInputUsername1" placeholder="Nome">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Descrição</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Descrição">
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Enviar</button>
                    <button class="btn btn-light">Cancelar</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content%}