{% extends 'base-admin.html' %}

{% block title%}
{{ titulo }}
{% endblock title%}

{% block content %}

<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="ul-breadcrumb">
            <li>
                <a href="{{ url_for('dashboard.dash') }}" title="Dashboard">Dashboard</a>
            </li>
            <li>
                <b>{{ titulo }}</b>
            </li>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">{{ titulo }}</h4>
                <form class="formm-search" action="{{ url_for('categorias.index') }}" method="GET" novalidate>
                    <div class="row">
                        <div class="col-md-1">
                            <p class="btn"> Filtro: </p>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <input name="name" type="text" class="form-control form-control-sm"
                                    placeholder="Palavra chave" value="{{name}}">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <input type="hidden" name="order" value="{{ order }}" />
                            <input type="hidden" name="order_by" value="{{ order_by }}" />
                            <button type="submit" class="btn btn-primary btn-sm btn-block">Filtrar</button>
                        </div>
                    </div>
                </form>

                <div class="table-responsive">
                    {% if categories|length > 0 %}
                    {% if order == 'asc' %}
                    {% set _order = 'desc' %}
                    {% else %}
                    {% set _order = 'asc' %}
                    {% endif %}
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>
                                    <a href="{{ url_for('categorias.index', page=currentPage, name=name, order_by='id', order=_order) }}"
                                        class="{{ 'active' if order_by=='id' else '' }} {{ order }}"
                                        title="Ordenar por ID">ID</a>
                                </th>
                                <th>
                                    <a href="{{ url_for('categorias.index', page=currentPage, name=name, order_by='name', order=_order) }}"
                                        class="{{ 'active' if order_by=='name' else '' }} {{ order }}"
                                        title="Ordenar por Nome">Nome</a>
                                </th>
                                <th>
                                    <a href="{{ url_for('categorias.index', page=currentPage, name=name, order_by='created_at', order=_order) }}"
                                        class="{{ 'active' if order_by=='created_at' else '' }}"
                                        title="Ordenar por Data">Data</a>
                                </th>
                                <th>
                                    Destacada?
                                    <sup class="small">
                                        <i class="mdi mdi-help-circle" data-toggle="tooltip" data-html="true"
                                            title="Se checado, a categoria será exibida na sidebar e no footer do site."></i>
                                    </sup>
                                </th>
                                <th>Editar/Deletar</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for category in categories %}
                            <tr>
                                <td><strong class="table-label">Id: </strong> {{ category.id }}</td>
                                <td><strong class="table-label">Nome: </strong> {{ category.name }}</td>
                                <td><strong class="table-label">Data: </strong>
                                    {{ category.created_at|format_datetime('%d/%m/%Y') }}</td>
                                <td>
                                    <strong class="table-label">Destacada? </strong>
                                    <div class="form-check form-check-flat form-check-primary">
                                        <label class="form-check-label">
                                            <input type="checkbox" class="form-check-input change-category-highlight" data-category-id="{{ category.id }}" {{ 'checked' if category.is_highlighted == True else '' }} value="{{ category.is_highlighted }}" />
                                            <i class="input-helper"></i>

                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <a href="{{ url_for('categorias.editar', id=category.id) }}" title="Editar">
                                        <i class="mdi mdi-border-color edit"></i>
                                    </a>
                                    <a href="{{ url_for('categorias.deletar', id=category.id) }}" title="Deletar">
                                        <i class="mdi mdi-delete-forever delete"></i>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div class="table-pagination">
                        <div class="btn-group" role="group" aria-label="Basic example">
                            {% if paginate.next_num != None or paginate.prev_num != None %}
                            {% for page in paginate.iter_pages(left_edge=2, left_current=2, right_current=3, right_edge=2) %}
                            {% if page == None %}
                            <button type="button" class="btn">...</button>
                            {% else %}
                            <a href="{{ url_for('categorias.index', page=page, name=name, order_by=order_by, order=order) }}"
                                class="btn btn-primary {{ 'active' if currentPage == page else '' }}"
                                title="Página {{page}}">{{ page }}</a>
                            {% endif %}
                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    {% else %}
                    <p class="no-content-found">Nenhuma categoria encontrada.</p>
                    {% endif %}
                </div>
            </div>
        </div>

    </div>

</div>

<!-- Modal Message -->
<div class="modal fade" id="modalMessage" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Alerta</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="textModalMessage"></p>
            </div>
        </div>
    </div>
</div>
{% endblock content%}

{% block footer_script %}
    <script>
        $('.change-category-highlight').on('change', function() {
            var t = $(this);
            var category_id = t.attr('data-category-id');
            if (t.val() === 'True') {
                t.val('False')
            } else {
                t.val('True')
            }
            $.ajax({
                method: 'POST',
                url: '/admin/categorias/change-category-highlight',
                data: { highlight: t.val(), category_id: category_id }
            }).done(function (data) {
                $('#textModalMessage').html(data.message);
                $('#modalMessage').modal('toggle');
            });
        });
    </script>
{% endblock footer_script %}