{% extends 'base-login.html' %}

{% from "macros/formFields.html" import render_field %}

{% block title %}Redefinição de Senha{% endblock %}

{% block content %}
<h4>Redefina sua senha</h4>
<form class="pt-3" method="POST" novalidate>
    {{ form.csrf_token }}
    {{ render_field(form.password) }}
    {{ render_field(form.confirm_password) }}
    <div class="mt-3">
        <button type="submit"
            class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn">REDEFINIR SENHA</button>
    </div>
    <div class="text-right mt-3">
        <a href="{{ url_for('login.inicio') }}" class="auth-link text-black" title="Voltar para o login">Voltar para o Login</a>
    </div>
</form>
{% endblock %}