{% extends 'base-admin.html' %}

{% block title %}
{{ pergunta }}
{% endblock title %}

{% block content %}

<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <ul class="ul-breadcrumb">
            <li>
                <a href="{{ url_for('dashboard.dash') }}" title="Dashboard">Dashboard</a>
            </li>
            {% if titulo == 'Notícias' %}
                <li>
                    <a href="{{ url_for('posts.noticias_index') }}" title="Notícias">Notícias</a>
                </li>
            {% endif %}
            {% if titulo == 'Anúncios' %}
                <li>
                    <a href="{{ url_for('posts.anuncios_index') }}" title="Anúncios">Anúncios</a>
                </li>
            {% endif %}
            {% if titulo == 'Avisos' %}
                <li>
                    <a href="{{ url_for('posts.avisos_index') }}" title="Avisos">Avisos</a>
                </li>
            {% endif %}
            <li>
                <b>Excluir</b>
            </li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <h4>{{ pergunta }}</h4>
        <hr>
        {# Diferenciando pelo tipo de post #}
        {% if(post_type == 'news'): %}
        <form action="{{ url_for('posts.noticias_deletar', id=postId) }}" method="POST">
            <button type="submit" class="btn btn-danger">Excluir</button>
            <input type="hidden" name="postId" value="{{ postId }}">
            <a href="{{ url_for('posts.noticias_index') }}" class="btn btn-secondary" title="Cancelar">Cancelar</a>
        </form>
        {% elif(post_type == 'ad'): %}
        <form action="{{ url_for('posts.anuncios_deletar', id=postId) }}" method="POST">
            <button type="submit" class="btn btn-danger">Excluir</button>
            <input type="hidden" name="postId" value="{{ postId }}">
            <a href="{{ url_for('posts.anuncios_index') }}" class="btn btn-secondary" title="Cancelar">Cancelar</a>
        </form>
        {% elif(post_type == 'notice'): %}
        <form action="{{ url_for('posts.avisos_deletar', id=postId) }}" method="POST">
            <button type="submit" class="btn btn-danger">Excluir</button>
            <input type="hidden" name="postId" value="{{ postId }}">
            <a href="{{ url_for('posts.avisos_index') }}" class="btn btn-secondary" title="Cancelar">Cancelar</a>
        </form>
        {% endif %}
    </div>
</div>
{% endblock content %}