{% extends 'base-admin.html' %}

{% from "macros/formFields.html" import render_field, render_file_field, render_hidden_field, render_field_date %}

{% block title%}
{{ titulo }}
{% endblock title%}

{% block content %}

<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="ul-breadcrumb">
            <li>
                <a href="{{ url_for('dashboard.dash') }}" title="Dashboard">Dashboard</a>
            </li>
            {% if titulo == 'Notícias' %}
                <li>
                    <a href="{{ url_for('posts.noticias_index') }}" title="Notícias">Notícias</a>
                </li>
            {% endif %}
            {% if titulo == 'Anúncios' %}
                <li>
                    <a href="{{ url_for('posts.anuncios_index') }}" title="Anúncios">Anúncios</a>
                </li>
            {% endif %}
            {% if titulo == 'Avisos' %}
                <li>
                    <a href="{{ url_for('posts.avisos_index') }}" title="Avisos">Avisos</a>
                </li>
            {% endif %}
            <li>
                <b>{{ operacao }} de {{ titulo }}</b>
            </li>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">{{ operacao }} de {{ titulo }}</h4>
                <form class="forms-sample" method="POST" novalidate>
                    {{ form.csrf_token }}
                    {{ render_field(form.title) }}
                    {{ render_field(form.description) }}
                    <div class="rich-text-editor-container">
                        {{ render_field(form.content) }}
                        <input type="file" name="imagesContent" id="contentImageSender" accept=".jpg,.jpeg,.png,.gif" />
                    </div>
                    {{ render_hidden_field(form.image_id) }}
                    {{ render_file_field(form.image) }}
                    {{ render_field(form.genre) }}
                    <div class="row">
                        <div class="col-md-6 wrap-date">
                            {{ render_field_date(form.entry_date, 'date') }}
                        </div>
                        <div class="col-md-6 wrap-date">
                            {{ render_field_date(form.departure_date, 'date') }}
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary mr-2">Salvar</button>
                    <button class="btn btn-light">Cancelar</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content%}