{% extends 'base-admin.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <div class="content-wrapper">
        <div class="row">
            <div class="col-md-12 grid-margin">
                <div class="d-flex justify-content-between flex-wrap">
                    <div class="d-flex align-items-end flex-wrap">
                        <div class="mr-md-3 mr-xl-5">
                            <h2>Bem Vindo {{ session.get('user_name', '') }}</h2>
                            <a href="{{ url_for('site.index') }}">
                                <i class="mdi mdi-home text-muted hover-cursor"></i>
                                Ver Site
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            {% if session.get('user_role', '') == 'admin' or session.get('user_role', '') == 'editor'  %}
            <div class="col-md-4 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Cadastrar Notícias</h4>
                        <div class="media">
                            <div class="media-body">
                                <a href="{{ url_for('posts.noticias_cadastrar') }}">
                                    <button type="button" class="btn btn-primary btn-icon-text">Cadastrar
                                        Noticias</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            <div class="col-md-4 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Cadastrar Anuncios</h4>
                        <div class="media">
                            <div class="media-body">
                                <a href="{{ url_for('posts.anuncios_cadastrar') }}">
                                    <button type="button" class="btn btn-primary btn-icon-text">Cadastrar
                                        Anuncios</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% if session.get('user_role', '') == 'admin' or session.get('user_role', '') == 'author'  %}
            <div class="col-md-4 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Cadastrar Avisos</h4>
                        <div class="media">
                            <div class="media-body">
                                <a href="{{ url_for('posts.avisos_cadastrar') }}">
                                    <button type="button" class="btn btn-primary btn-icon-text">Cadastrar
                                        Avisos</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
        {% if session.get('user_role', '') == 'admin'  %}
        <div class="row">
            <div class="col-md-4 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Adicionar Novo Usuário</h4>
                        <div class="media">
                            <div class="media-body">
                                <a href="{{ url_for('usuarios.cadastrar') }}">
                                    <button type="button" class="btn btn-primary btn-icon-text">Adicionar Novo Usuário</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Adicionar Categoria</h4>
                        <div class="media">
                            <div class="media-body">
                                <a href="{{ url_for('categorias.cadastrar') }}">
                                    <button type="button" class="btn btn-primary btn-icon-text">Adicionar Categoria</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Alterar Configurações do Site</h4>
                        <div class="media">
                            <div class="media-body">
                                <a href="{{ url_for('configuracoes.cadastrar') }}">
                                    <button type="button" class="btn btn-primary btn-icon-text">Alterar Configurações do Site</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
{% endblock content %}