{% block footer %}
<footer class="footer-area section_gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 single-footer-widget">
                <h4>Menu Principal</h4>
                <ul>
                    <li>
                        <a href="{{ url_for('site.index') }}">Home</a>
                    </li>
                    <li>
                        <a href="{{ url_for('site.noticias') }}">Notícias</a>
                    </li>
                    <li>
                        <a href="{{ url_for('site.anuncios') }}">Anúnicios</a>
                    </li>
                    <li>
                        <a href="{{ url_for('site.avisos') }}">Avisos</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 single-footer-widget">
                <h4>Outros Links</h4>
                <ul>
                    <li>
                        <a href="{{ url_for('site.contato') }}">Contato</a>
                    </li>
                    <li>
                        <a href="https://moodle.uniplac.net/" target="_blank">Moodle Uniplac</a>
                    </li>
                    <li>
                        <a href="https://portal.uniplaclages.edu.br/corpore.net/Login.aspx" target="_blank">Portal
                            Uniplac</a>
                    </li>
                    <li>
                        <a href="https://www.uniplaclages.edu.br/" target="_blank">Site Uniplac</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 single-footer-widget">
                <h4>Principais Categorias</h4>
                <ul>
                    <li><a href="{{ url_for('site.index') }}"">Esportes</a></li>
                    <li><a href="{{ url_for('site.index') }}"">Engenharia</a></li>
                    <li><a href="{{ url_for('site.index') }}">Sistema de Informação</a></li>
                    <li><a href="{{ url_for('site.index') }}"">Eventos</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 single-footer-widget">
                <h4>Sobre nós</h4>
                <p>{{ configuration.description }}</p>
                <p>Fone: {{ configuration.phone }}</p>
                <p>email: {{ configuration.email }}</p>
            </div>
        </div>
        <div class="footer-bottom row align-items-center">
            <p class="footer-text m-0 col-lg-8 col-md-12">
                Copyright &copy;
                All rights reserved | <b>Uniplac Lages</b>
            </p>
        </div>
    </div>
</footer>
{% endblock footer %}