<form class="search-form" action="{{ url_for('site.filtro') }}">
    <div class="container">
        <div class="row">
            <div class="col">
                <h4>O que você deseja encontrar?</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <input value="{{ name }}" name="name" type="text" class="form-control" placeholder="Pesquisar...">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <select class="form-control" name="genre">
                        <option value="" selected>Tipo</option>
                        <option {{ 'selected' if genre == 'news' else '' }} value="news">Notícias</option>
                        <option {{ 'selected' if genre == 'ad' else '' }} value="ad">Anúncios</option>
                        <option {{ 'selected' if genre == 'notice' else '' }} value="notice">Avisos</option>
                    </select>
                </div>
            </div>
            {% if categories %}
            <div class="col-md-3">
                <div class="form-group">
                    <select class="form-control" name="category">
                        <option value="" selected>Categoria</option>
                        {% for cat in categories %}
                        <option {{ 'selected' if category == cat.id|string else '' }} value="{{ cat.id }}">{{ cat.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            {% endif %}
            <div class="col-md-2">
                <button type="submit" class="btn btn-primary btn-block">Filtrar</button>
            </div>
        </div>
    </div>
</form>