<div class="search-form-wrap">
<form class="search-form" action="{{ url_for('site.filtro') }}" novalidate>
    <div class="container">
        <div class="row">
            <div class="col">
                <h4>
                    O que você deseja encontrar?
                    <span class="btn-search show-768"><i class="ti-search"></i></span>
                </h4>
            </div>
        </div>
        <div class="row mbl-hided-row">
            <div class="col-md-3">
                <div class="form-group">
                    <input value="{{ name }}" name="name" type="text" class="form-control" placeholder="Palavra Chave">
                </div>
            </div>
            {% if categories %}
            <div class="col-md-3">
                <div class="form-group">
                    <select class="form-control" name="category">
                        <option value="" selected>Categoria</option>
                        {% for cat in categories %}
                        <option {{ 'selected' if category == cat.id|string else '' }} value="{{ cat.id }}">
                            {{ cat.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            {% endif %}
            {% if users %}
            <div class="col-md-2">
                <div class="form-group">
                    <select name="author" class="form-control">
                        <option value="">Autor</option>
                        {% for user in users %}
                        <option {{ 'selected' if author == user.id|string else '' }} value="{{ user.id }}">{{ user.first_name }} {{ user.last_name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            {% endif %}
            <div class="col-md-2">
                <div class="form-group">
                    <select class="form-control" name="genre">
                        <option value="" selected>Tipo</option>
                        <option {{ 'selected' if genre == 'news' else '' }} value="news">Notícias</option>
                        <option {{ 'selected' if genre == 'ad' else '' }} value="ad">Anúncios</option>
                        <option {{ 'selected' if genre == 'notice' else '' }} value="notice">Avisos</option>
                    </select>
                </div>
            </div>
            <div class="col-md-2">
                <button type="submit" class="btn btn-primary btn-block">Filtrar</button>
            </div>
        </div>
    </div>
</form>
</div>