{% block header %}
<header class="header_area">
    <div class="top_menu">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="float-left">
                        <p>Fone: {{ configuration.phone }}</p>
                        <p>email: {{ configuration.email }}</p>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="float-right">
                        <ul class="right_side">
                            <li>
                                <a href="{{ url_for('site.contato') }}">
                                    Contato
                                </a>
                            </li>
                            {% if session.get('user_role', '') != '' %}
                                <li>
                                    <a href="{{ url_for('dashboard.dash') }}">
                                        Painel Administrativo
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main_menu">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light w-100">
                <a class="navbar-brand logo_h" href="{{ url_for('site.index') }}">
                    <img src="{{ url_for('static', filename='public/img/logo.png') }}" alt="logo" />
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="collapse navbar-collapse offset w-100" id="navbarSupportedContent">
                    <div class="row w-100 mr-0 justify-content-center">
                        <div class="col-lg-10 pr-0">
                            <ul class="nav navbar-nav center_nav pull-right justify-content-center">
                                <li class="nav-item active">
                                    <a class="nav-link" href="{{ url_for('site.index') }}">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ url_for('site.noticias') }}">Notícias</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ url_for('site.anuncios') }}">Anúncios</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ url_for('site.avisos') }}">Avisos</a>
                                </li>
                                <li class="nav-item show-992">
                                    <a class="nav-link" href="{{ url_for('site.contato') }}">Contato</a>
                                </li>
                                {% if session.get('user_role', '') != '' %}
                                    <li class="nav-item show-992">
                                        <a class="nav-link" href="{{ url_for('dashboard.dash') }}">Painel Administrativo</a>
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                        <div class="col-lg-2 pr-0 text-right">
                            {% if session.get('user_role', '') == '' %}
                                <a href="{{ url_for('login.inicio') }}" class="icons">
                                    <i class="ti-user fa-lg"></i> Login
                                </a>
                            {% endif %}
                            {% if session.get('user_role', '') != '' %}
                                <a href="{{ url_for('login.logout') }}" class="icons">
                                    <i class="ti-user fa-lg"></i> Sair
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</header>
{% endblock header %}