<div class="blog_right_sidebar">
    {% if titulo != 'Avisos'%}
    <aside class="single_sidebar_widget popular_post_widget">
        <h3 class="widget_title">Avisos Recentes</h3>
        {% for post in notices %}
        {% if post.image_id == None %}
        <div class="media post_item no-image">
            <a href="{{ url_for('site.avisos_detalhes', id=post.id) }}" title="{{ post.title }}">
                <div class="media-body">
                    <h3>{{ post.title }}</h3>
                    <span class="blog_btn">
                        Ver Mais
                        <span class="ml-2 ti-arrow-right"></span>
                    </span>
                </div>
            </a>
        </div>
        {% else %}
        <div class="media post_item">
            <a href="{{ url_for('site.avisos_detalhes', id=post.id) }}">
                <div class="post_img">
                    <img src="{{request.url_root}}api/media/{{post.image_id}}" alt="post" title="{{ post.title }}">
                </div>
                <div class="media-body">
                    <h3>{{ post.title }}</h3>
                    <span class="blog_btn">
                        Ver Mais
                        <span class="ml-2 ti-arrow-right"></span>
                    </span>
                </div>
            </a>
        </div>
        {% endif %}
        {% endfor%}
        <div class="action">
            <a href="{{ url_for('site.avisos') }}" class="btn btn-info btn-sm btn-block" title="Ver todos os avisos">Ver todos os avisos</a>
        </div>
    </aside>
    {% endif %}
    {% if categories %}
    <aside class="single_sidebar_widget post_category_widget">
        <h4 class="widget_title">Categorias Principais</h4>
        <ul class="list cat-list">
            {% for category in categories_highlighted %}
            <li>
                <a href="{{ url_for('site.filtro', category=category.id) }}" class="d-flex" title="{{ category.name }}">
                    <p>{{ category.name }}</p>
                </a>
            </li>
            {% endfor %}
        </ul>
    </aside>
    {% endif %}
    {% if users %}
    <aside class="single_sidebar_widget post_category_widget">
        <h4 class="widget_title">Filtrar por autor:</h4>
        <form class="author-search-form" action="{{ url_for('site.filtro') }}">
            <div class="form-group">
                <select name="author" class="form-control author-search-field" name="category">
                    <option value="">Autor</option>
                    {% for user in users %}
                    <option {{ 'selected' if author == user.id|string else '' }} value="{{ user.id }}">{{ user.first_name }} {{ user.last_name }}</option>
                    {% endfor %}
                </select>
            </div>
        </form>
    </aside>
    {% endif %}
    {% if tags %}
    <aside class="single_sidebar_widget post_category_widget">
        <h4 class="widget_title">Trending Tags</h4>
        <p name="tags"></p>
            {% for t in tags %}
                <a href="{{ url_for('site.tag', tag=t.id) }}" class="btn btn-secondary"  title="{{ t.name }}">
                    {{ t.name }}
                </a>
            {% endfor %}
        </p>
    </aside>
    {% endif %}
</div>