<div class="blog_right_sidebar">
    <aside class="single_sidebar_widget popular_post_widget">
        <h3 class="widget_title">Avisos Recentes</h3>
        {% for post in notices %}
            {% if post.image_id == None %}
            <div class="media post_item no-image">
                <div class="media-body">
                    <h3>{{ post.title }}</h3>
                    <a href="{{ url_for('site.avisos_detalhes') }}" class="blog_btn">
                        Ver Mais
                        <span class="ml-2 ti-arrow-right"></span>
                    </a>
                </div>
            </div>
            {% else %}
            <div class="media post_item">
                <img src="{{request.url_root}}api/media/{{post.image_id}}" alt="post">
                <div class="media-body">
                    <h3>{{ post.title }}</h3>
                    <a href="{{ url_for('site.avisos_detalhes') }}" class="blog_btn">
                        Ver Mais
                        <span class="ml-2 ti-arrow-right"></span>
                    </a>
                </div>
            </div>
            {% endif %}
        {% endfor%}
        <div class="action">
            <a href="{{ url_for('site.avisos') }}" class="btn btn-info btn-sm btn-block">Ver todos</a>
        </div>
    </aside>
    {% if categories %}
    <aside class="single_sidebar_widget post_category_widget">
        <h4 class="widget_title">Categorias Principais</h4>
        <ul class="list cat-list">
            {% for category in categories_highlighted %}
            <li>
                <a href="{{ url_for('site.filtro', c=category.id) }}" class="d-flex">
                    <p>{{ category.name }}</p>
                </a>
            </li>
            {% endfor %}
        </ul>
    </aside>
    {% endif %}
</div>