<div class="blog_right_sidebar">
    {% if titulo != 'Avisos'%}
    <aside class="single_sidebar_widget popular_post_widget">
        <h3 class="widget_title">Avisos Recentes</h3>
        {% for post in notices %}
        {% if post.image_id == None %}
        <div class="media post_item no-image">
            <a href="{{ url_for('site.avisos_detalhes', id=post.id) }}">

                <div class="media-body">
                    <h3>{{ post.title }}</h3>
                    <a href="{{ url_for('site.avisos_detalhes', id=post.id) }}" class="blog_btn">
                        Ver Mais
                        <span class="ml-2 ti-arrow-right"></span>
                    </a>
                </div>
            </a>
        </div>
        {% else %}
        <div class="media post_item">
            <a href="{{ url_for('site.avisos_detalhes', id=post.id) }}">
                <img src="{{request.url_root}}api/media/{{post.image_id}}" alt="post">
                <div class="media-body">
                    <h3>{{ post.title }}</h3>
                    <a href="{{ url_for('site.avisos_detalhes', id=post.id) }}" class="blog_btn">
                        Ver Mais
                        <span class="ml-2 ti-arrow-right"></span>
                    </a>
                </div>
            </a>
        </div>
        {% endif %}
        {% endfor%}
        <div class="action">
            <a href="{{ url_for('site.avisos') }}" class="btn btn-info btn-sm btn-block">Ver todos</a>
        </div>
    </aside>
    {% endif %}
    {% if categories %}
    <aside class="single_sidebar_widget post_category_widget">
        <h4 class="widget_title">Categorias Principais</h4>
        <ul class="list cat-list">
            {% for category in categories_highlighted %}
            <li>
                <a href="{{ url_for('site.filtro', category=category.id) }}" class="d-flex">
                    <p>{{ category.name }}</p>
                </a>
            </li>
            {% endfor %}
        </ul>
    </aside>
    {% endif %}
    <aside class="single_sidebar_widget post_category_widget">
        <h4 class="widget_title">Autores</h4>
        <form class="author-search-form" action="{{ url_for('site.filtro') }}">
            <div class="form-group">
                <select name="author" class="form-control author-search-field" name="category">
                    <option value="">Autor</option>
                    <option value="1">Autor 1</option>
                    <option value="2">Autor 2</option>
                    <option value="3">Autor 3</option>
                </select>
            </div>
        </form>
    </aside>
</div>